.card:not([class*=card-outline-]) {
  border: 0;
}

#toast-container>div, .author-box, .badge, .btn, .btn-primary.active:not([disabled]):not(.disabled), .btn-primary:not([disabled]):not(.disabled):active, .card-wrapper .back, .card-wrapper .front, .card.card-cascade.wider .card-body, .card:not([class*=card-outline-]), .chip, .counter, .dropdown-content, .jumbotron, .md-pills .nav-link.active, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .pricing-card .price .version, .section-blog-fw .view, .show>.btn-primary.dropdown-toggle, .side-nav, .social-list, .z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.grey.lighten-3 {
  background-color: #eee!important;
}

.card {
  border-radius: .3rem;
}

.btn .fa, .card .card-body {
  position: relative;
}

.card-body {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.list-inline, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

address, dl, ol, p, ul {
  margin-bottom: 1rem;
}

.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}

.grey.lighten-3 {
  background-color: #eee!important;
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  -webkit-box-pack: justify!important;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: flex!important;
}

.card.chat-room img.avatar {
  height: 3rem;
  width: 3rem;
}

.card.chat-room img.rounded-circle {
  border-radius: 50%;
}

.mr-2, .mx-2 {
  margin-right: .5rem!important;
}

.card.chat-room .text-small {
  font-size: 0.95rem;
}

.card .card-body p {
  margin-bottom: 1rem;
}

.text-muted {
  color: #868e96!important;
}

.card.chat-room .text-smaller {
  font-size: 0.75rem;
}

.badge-danger {
  background-color: #ff3547;
}

.badge, .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link:hover, .navbar.navbar-dark .navbar-toggler, .navbar.navbar-dark form .form-control, .pagination .active .page-link:hover {
  color: #fff;
}

.author-box, .badge, .jumbotron, .list-group .list-group-item, .navbar-toggler {
  border-radius: 2px;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge, .close {
  font-weight: 700;
  line-height: 1;
}

.font-bold {
  font-weight: 500;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left!important;
  }
}

.justify-content-between {
  -ms-flex-pack: justify!important;
  -webkit-box-pack: justify!important;
  -webkit-justify-content: space-between!important;
  justify-content: space-between!important;
}

.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}

.pt-3, .py-3 {
  padding-top: 1rem!important;
}

.pl-3, .px-3 {
  padding-left: 1rem!important;
}

.pr-3, .px-3 {
  padding-right: 1rem!important;
}

.pb-0, .py-0 {
  padding-bottom: 0!important;
}

.card, .card .card-body h3, .card .card-body h4, .card .card-text {
  font-weight: 400;
}
.friend-list li:hover {
  background-color: white;
}
.p-3 {
    padding: 1rem!important;
}

.ml-2, .mx-2 {
    margin-left: .5rem!important;
}
