<app-slider></app-slider>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h3 class="ty-sidebox-title"><span class="product-grouping-title ty-sidebox-title-wrapper">PHỤ KIỆN THEO ĐIỆN THOẠI MỚI NHẤT</span></h3>
      <div class="sk-wave" *ngIf="showSpinner">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>

      <div class=" row form-group product-chooser ">
        <div class="col-lg-3 mb-r product-resposive-md text-center" *ngFor="let category of hotCategories | async">
          <a [routerLink]="['/danh-muc', category.slug]"> <img class="ty-pict " src="{{category.image}}" alt="{{category.name}}" title="{{category.name}}" width="113" height="150"> <p class="text-center">{{category.name}}</p> </a>
        </div>
      </div>
      <h3 class="ty-sidebox-title"><span class="product-grouping-title ty-sidebox-title-wrapper">PHỤ KIỆN THEO MÁY TÍNH BẢN MỚI NHẤT</span></h3>
      <div class="sk-wave" *ngIf="showSpinner">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>

      <div class=" row form-group product-chooser ">
        <div class="col-lg-3 mb-r product-resposive-md text-center" *ngFor="let category of hotTablets | async">
          <a [routerLink]="['/danh-muc', category.slug]"> <img class="ty-pict " src="{{category.image}}" alt="{{category.name}}" title="{{category.name}}" width="113" height="150"> <p class="text-center">{{category.name}}</p> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 hidden-xs">
      <app-recent-blogs></app-recent-blogs>
      <!-- <h3><a [routerLink]="['/tin-tuc']" class="product-grouping-title">CAMERA KHÔNG DÂY</a></h3> -->
      <h3 class="ty-sidebox-title"> <span class="ty-sidebox-title-wrapper">CAMERA KHÔNG DÂY</span>
        <span style="float: right">
          <a href="#carouselExampleControls" role="button" data-slide="prev">
            <i style="padding: 10px;" class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <a href="#carouselExampleControls" role="button" data-slide="next">
            <!-- <span  class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <i style="padding: 10px;" class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </span>
      </h3>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item" *ngFor="let product of others | async; let i = index" [ngClass]="{'active': i == 0 }">
            <div class="owl-item" style="width: 100%; text-align: center; margin-top: 20px;">
              <div class="ty-scroller-list__item">
                <div class="ty-scroller-list__img-block" style="text-align: center;"> <a [routerLink]="['/chi-tiet', product.slug]">
                  <img class="lazyOwl ty-pict " src="{{product.photoUrl}}" alt="{{product.title}}" title="{{product.title}}" width="170" height="170" style="display: inline;"></a> </div>
                <div class="ty-scroller-list__description">
                  <div class="simple-list product-container clearfix"> <a [routerLink]="['/chi-tiet', product.slug]" class="product-title">{{product.title}}</a>
                    <div class="simple-list__price prices-container clearfix"> <span class="cm-reload-50000scr_5000035107 ty-price-update" id="price_update_50000scr_5000035107">
                      <span class="ty-price" id="line_discounted_price_50000scr_5000035107">
                        <strong class="ty-price-num">Giá bán: </strong> <span id="sec_discounted_price_50000scr_5000035107" class="ty-price-num">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>&nbsp;
                      </span>
                      </span> <span class="cm-reload-50000scr_5000035107" id="old_price_update_50000scr_5000035107"> <!--old_price_update_50000scr_5000035107--></span> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="ty-sidebox-title"><span class="product-grouping-title ty-sidebox-title-wrapper">Phụ kiện mới nhất</span></h3>
  <div class="row form-group product-chooser">
    <div class="col-lg-2 mb-r" *ngFor="let product of others | async">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</div>

<app-circular-tab></app-circular-tab>

<style>
  /*Card */

  .overlay:hover {
    transition: all .2s linear;
    transform: scale(1.1);
    border-radius: 0px !important;
  }

  @media (max-width:767px) {
    .col-lg-2 {
      width: 50%;
    }
    .col-lg-2 {
      min-width: 0px;
    }
  }

  @media (min-width:767px) {
    .col-lg-2 {
      width: 50%;
    }
    .col-lg-2 {
      min-width: 240px;
      max-width: 260px;
    }
  }

  a:not([href]):not([tabindex]),
  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
  }

  .btn-floating {
    position: relative;
    width: 35px;
    border-radius: 50%;
    float: right;
  }



  .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important;
  }

  .btn-floating i {
    width: inherit;
    font-size: 1.25rem;
    line-height: 35px;
    text-align: center;
  }

  a:hover {
    text-decoration: none;
  }

  .ty-column4,
  .ty-column5,
  .ty-column6 {
    margin-right: -1px;
    height: 310px;
    margin-top: -1px;
    position: relative;
  }

  .ty-column5 {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.25em;
  }

  .ty-grid-list__item {
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 10px;
    height: 310px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-top: -1px;
  }

  .ty-grid-list__image {
    height: auto !important;
  }

  .ty-grid-list__image {
    position: relative;
    text-align: center;
    height: 195px;
  }

  .lables-new {
    background: url(assets/images/labl_new.png) no-repeat 1px 1px;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 74px;
    height: 45px;
    z-index: 9;
  }

  a {
    font-family: '' Tahoma '', Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    color: #333;
    cursor: pointer;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
  }

  .ty-grid-list__item-name {
    margin: 10px 0 !important;
  }

  .ty-grid-list__item-name .product-title {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0px 1px #f9f9f9;
    overflow: hidden;
    height: 35px;
    display: block;
    margin-bottom: 5px;
  }

  .ty-grid-list__price {
    margin-top: 3px;
    overflow: hidden;
    word-break: break-all;
    position: absolute;
    bottom: 7px;
    right: 10px;
  }

  .ty-grid-list__price {
    margin-top: 3px;
    overflow: hidden;
    word-break: break-all;
    position: absolute;
    bottom: 7px;
    right: 10px;
  }

  .ty-price-update {
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 2px 0;
  }

  .ty-price {
    color: #e91f27;
  }

  .ty-price,
  .ty-sub-price,
  .ty-list-price {
    font-size: 100%;
  }

  strong.ty-price-num {
    font-weight: normal;
  }

  .ty-price-num {
    font-size: 15px;
    font-weight: bold;
  }

  .ty-price-num {
    font-size: 15px;
    font-weight: bold;
  }

  .view_images_2 {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    /* margin-left: -90px; */
    webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    transform-style: preserve-3d;
  }

  .view_images_2:hover {
    opacity: 1;
  }

  .ty-discount-label {
    background: #DF0000;
    height: 30px;
    width: 38px;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 4px 0 3px;
    text-align: center;
    z-index: 1;
  }

  .ty-discount-label .icon-label {
    font-size: 135px;
    position: absolute;
    top: -17px !important;
    left: -11px;
    color: #DF0000;
  }

  .ty-discount-label .fa {
    position: absolute;
    font-size: 82px;
    left: -4px;
    top: 0px;
    z-index: -1;
    color: #DF0000;
  }

  .ty-strike {
    text-decoration: line-through;
  }

  .ty-list-price {
    color: #8c8c8c;
    line-height: 16px;
    font-size: 12px;
  }
</style>
