<div *ngIf="loading" (click)="close()" style="    position: fixed;
    left: 0px;
    top: 0px;
    background: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index:10">
</div>
<div class="loader" *ngIf="loading">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
  </svg>
</div>
