/* You can add global styles to this file, and also import other style files */

[type=radio]+label, [type=checkbox]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

[type=radio], [type=checkbox] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

input[type=radio], input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[type=checkbox][class*=filled-in]:checked+label:after {
  border-color: #a6c;
  background-color: #a6c;
  z-index: 0;
}

[type=checkbox][class*=filled-in]+label:after {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

[type=checkbox][class*=filled-in]:checked+label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-color: transparent #fff #fff transparent;
}

[type=radio]+label, [type=checkbox]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

[type=checkbox][class*=filled-in]:not(:checked)+label:before {
  width: 0;
  height: 0;
  border-style: 3px;
  border-color: transparent;
  left: 6px;
  top: 10px;
}

[type=checkbox][class*=filled-in]+label:before {
  -webkit-transform: rotateZ(37deg);
  -ms-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type=checkbox][class*=filled-in]+label:after, [type=checkbox][class*=filled-in]+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
}

[type=checkbox]+label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

[type=checkbox][class*=filled-in]+label:after, [type=checkbox][class*=filled-in]+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
}

[type=checkbox]:checked+label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #4285F4 #4285F4 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type=checkbox][class*=filled-in]:not(:checked)+label:after {
  background-color: transparent;
  border-color: #5a5a5a;
  top: 0;
  z-index: 0;
}

[type=checkbox][class*=filled-in]+label:after {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

#toast-container>div, .author-box, .badge, .btn, .btn-primary.active:not([disabled]):not(.disabled), .btn-primary:not([disabled]):not(.disabled):active, .card-wrapper .back, .card-wrapper .front, .card.card-cascade.wider .card-body, .card:not([class*=card-outline-]), .chip, .counter, .dropdown-content, .jumbotron, .md-pills .nav-link.active, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .pricing-card .price .version, .section-blog-fw .view, .show>.btn-primary.dropdown-toggle, .side-nav, .social-list, .z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
