<div class="container" style="margin-bottom: 20px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      Đăng nhập
    </li>
  </ol>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h1>Đăng nhập</h1>
      <!-- <form role="form" #formData='ngForm' #formData (ngSubmit)="loginByEmailAndPassword(formData)">
        <fieldset required>
          <div class="form-group">
            <label for="disabledTextInput">Email</label>
            <input name="email" type="email" id="disabledTextInput" class="form-control" placeholder="Email">
          </div>
        </fieldset>

            <fieldset required>

          <div class="form-group">
            <label for="disabledSelect">Mật khẩu</label>
            <input type="password" class="form-control" placeholder="Mật khẩu">
          </div>
        </fieldset>

          <button type="submit" class="btn btn-primary">Đăng nhập</button>

      </form> -->
      <form role="form" #formData='ngForm' (ngSubmit)="loginByEmailAndPassword(formData)">
          <div class="form-group">
            <label class="control-label" for="inputUsernameEmail">Địa chỉ e-mail</label>
            <input type="text" class="form-control" id="inputUsersnameEmail" (ngModel)="email" name="email" required />
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Mật khẩu </label>
            <input type="password" class="form-control" id="inputPassword" (ngModel)="password" name="password" required />
          </div>
          <!-- <input type="submit" [disabled]="!formData.valid" value="Login" class="btn btn-gray" /> -->
          <button type="submit" [disabled]="!formData.valid || showSpinner" class="btn btn-primary">
            Đăng nhập
            <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </form>
        <div class="alert alert-warning" role="alert" *ngIf="error" style="margin-top: 15px">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Warning!</strong> {{error}}
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="ty-login-info">

        <div class="ty-login-info__txt">
          <h4>Bạn chưa đăng ký thành viên?</h4>
          <p>Tạo tài khoản để mua hàng dễ dàng hơn, chỉ mất vài phút.</p>
          <a [routerLink]="['/dang-ky']"><span style="color:red;">Đăng ký tài khoản</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
