<div class="container content-grid">
  <div class="row-fluid ">
    <div class="span16 breadcrumbs-grid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Trang chủ</a>
        </li>
        <li class="breadcrumb-item">
          Hàng khuyến mãi
        </li>
      </ol>
    </div>
  </div>
  <div class="row-fluid ">
    <div class="span16 main-content-grid">
      <div id="category_products_2">
        <!--category_products_2-->
        <div class="row form-group product-chooser">
          <input type="text" style="display: none" name="filter" [(ngModel)]="filter">
          <div class="col-lg-2 col-md-12 mb-r" *ngFor="let product of products | filter:filter" #filteredItems>
            <app-product-item [product]="product"></app-product-item>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .ty-sidebox-title {
    border-bottom: 1px solid #eaeaea;
  }

  .ty-sidebox-title-wrapper {
    border-bottom: 2px solid #fec909;
    height: 100%;
    padding-bottom: 7px;
  }

  .ty-column4,
  .ty-column5,
  .ty-column6 {
    margin-right: -1px;
    height: 310px;
    margin-top: -1px;
    position: relative;
  }

  .ty-column5 {
    display: inline-block;
    vertical-align: top;
    margin-right: -0.25em;
  }

  .ty-grid-list__item {
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 10px;
    height: 310px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-top: -1px;
  }

  .ty-grid-list__image {
    height: auto !important;
  }

  .ty-grid-list__image {
    position: relative;
    text-align: center;
    height: 195px;
  }

  .lables-new {
    background: url(assets/images/labl_new.png) no-repeat 1px 1px;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 74px;
    height: 45px;
    z-index: 9;
  }

  a {
    font-family: '' Tahoma '', Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    color: #333;
    cursor: pointer;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -o-transition: all 150ms;
    transition: all 150ms;
  }

  .ty-grid-list__item-name {
    margin: 10px 0 !important;
  }

  .ty-grid-list__item-name .product-title {
    color: #333;
    font-size: 14px;
    line-height: 18px;
    text-shadow: 0px 1px #f9f9f9;
    overflow: hidden;
    height: 35px;
    display: block;
    margin-bottom: 5px;
  }

  .ty-grid-list__price {
    margin-top: 3px;
    overflow: hidden;
    word-break: break-all;
    position: absolute;
    bottom: 7px;
    right: 10px;
  }

  .ty-grid-list__price {
    margin-top: 3px;
    overflow: hidden;
    word-break: break-all;
    position: absolute;
    bottom: 7px;
    right: 10px;
  }

  .ty-price-update {
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 2px 0;
  }

  .ty-price {
    color: #e91f27;
  }

  .ty-price,
  .ty-sub-price,
  .ty-list-price {
    font-size: 100%;
  }

  strong.ty-price-num {
    font-weight: normal;
  }

  .ty-price-num {
    font-size: 15px;
    font-weight: bold;
  }

  .ty-price-num {
    font-size: 15px;
    font-weight: bold;
  }

  .view_images_2 {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    margin-left: -110px;
    webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    transform-style: preserve-3d;
  }

  .list_subcategory-item a {
    display: inline-block;
    width: 16.5%;
    background: #F9F9F9;
    border: 1px solid #EAEAEA;
    margin: 1px 1% 7px 0;
    padding: 5px 0.5% 5px 1%;
    border-radius: 2px;
  }

  .subcategories li {
    list-style: none;
  }
</style>
