<!--Footer-->
<footer class="page-footer center-on-small-only unique-color-dark pt-0">
  <div class="container" style="margin-top: 20px; margin-bottom: 20px">
    <div class="row">
      <div class="col-sm-4">
        <div class="media">
          <a class="media-left media-middle" href="#">
                <i class="ty-phukiengiare__item_icon" aria-hidden="true"></i>
              </a>
          <div class="media-body">
            <h4 class="media-heading">Uy tín hàng đầu</h4>Thành lập hơn 5 Năm, đã phục vụ hơn 300.000 khách hàng trên cả nước...
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
          <a class="media-left media-middle" href="#">
                <i class="ty-phukiengiare__item_icon2" aria-hidden="true"></i>
              </a>
          <div class="media-body">
            <h4 class="media-heading">Giao hàng nhanh chóng</h4>Giao hàng 24h trong nội thành và giao hàng qua bưu điện ở tỉnh khác...
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="media">
          <a class="media-left media-middle" href="#">
                <i class="ty-phukiengiare__item_icon3" aria-hidden="true"></i>
              </a>
          <div class="media-body">
            <h4 class="media-heading">Sản phẩm đa dạng</h4>Cung cấp tất cả các phụ kiện, bao da, thẻ nhớ cho điện thoại, Tablet...
          </div>
        </div>
      </div>
    </div>

  </div>
  <div [ngStyle]="{'background-color': background_color }">
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-4 col-lg-3 text-center text-md-left mb-4 mb-md-0">
          <h3 class="mb-0 white-text" style="font-size: 22px; font-weight: 400;"><i class="fa fa-paper-plane-o fa-1x" aria-hidden="true"></i>  Đăng ký nhận bản tin </h3>

        </div>
        <div class="col-md-4 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <span>
            ... Và cơ hội nhận nhiều <strong>phiếu giảm giá cho việc mua sắm</strong>
          </span>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 col-lg-4 text-center text-md-right">
          <div class="ty-float-from-input">
            <input type="text" name="hint_subscribe_email" id="subscr_email11" size="20" placeholder="Đăng ký nhận bản tin" class="ty-input-text cm-hint">
            <button title="Go" class="ty-btn-go ty-subscribe" type="submit">Đăng Ký</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-6 col-lg-6 col-xl-6 mb-r ">
        <!-- <h6 class="title font-bold"><strong>Thông tin cửa hàng</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;"> -->
        <div class="col-md-4 new_info_footer">

        </div>
        <div class="col-md-8" style="padding-left: 60px">
          <p>Cần trợ giúp, thắc mắc? <a href="#" title="Các Câu hỏi thường gặp">Các Câu hỏi thường gặp!</a></p>
          <p class="new_hottline_footer" style="font-size: 25px">1900.63.64.60 - 0932.110.221</p>
          <p class="new_time_showroom"><strong>Làm việc: </strong> 8h00 - 21h00, <strong>CN:</strong> 8h00 - 17h30</p>
        </div>
        <div class="new_add_footer">
          <h5>Địa chỉ cửa hàng</h5> 120 Lê Quang Định, P.14, Q.Bình Thạnh, TP.Hồ Chí Minh <br> <a target="_blank" class="showdiachimaps" title="Bản đồ tới Showroom" href="https://www.google.com/maps/place/PhuKienGiaRe.COM/@10.8055238,106.6958187,17.21z/data=!4m5!3m4!1s0x0:0x9aa266d9079677b5!8m2!3d10.8057225!4d106.6975772">Bản đồ tới Showroom</a></div>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-r">
        <h6 class="title font-bold"><strong>Hỗ trợ khách hàng</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="#!">Hướng dẫn đặt hàng</a></p>
        <p><a href="#!">Phương thức vận chuyển</a></p>
        <p><a href="#!">Phương thức thanh toán</a></p>
        <p><a href="#!">Chính Sách Bảo Mật</a></p>
        <p><a href="#!">Điều Khoản Sử Dụng</a></p>
        <p><a href="#!">Chính sách bảo hành</a></p>
      </div>
      <!--/.Second column-->

      <!--Fourth column-->
      <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="title font-bold"><strong>Contact</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
        <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
        <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid text-center">
      © 2017 Copyright: <a><strong> thangthinh.com</strong></a>
    </div>
  </div>
  <!--/.Copyright -->

</footer>

<style>
  .ty-float-from-input {
    position: relative;
    display: inline-block;
    width: 100%;
    float: right;
  }

  .ty-control-group label.hidden {
    display: none;
  }

  .ty-float-from-input .ty-input-text {
    width: 100%;
    padding-right: 35px;
    border-radius: 25px;
    border: 0;
    padding: 10px 15px;
    height: 42px;
  }

  .ty-float-from-input .ty-btn-go.ty-subscribe {
    background: #262324;
    color: #fff;
    padding: 10px 20px;
    width: initial;
    border-radius: 0 25px 25px 0;
    height: 42px;
    top: 0;
    border: 0;
    right: -1px;
    font-size: 15px;
  }

  .ty-btn-go {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 0;
    width: 32px;
    height: 30px;
    border: 0px;
    border-left: 1px solid #cdcdcd;
    background: #efefef;
    cursor: pointer;
  }

  .ty-phukiengiare__item_icon {
    float: left;
    display: block;
    width: 100px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    background: url('/assets/images/icon_new2017.png') no-repeat -172px 7px;
  }

  .ty-phukiengiare__item_icon2 {
    float: left;
    display: block;
    width: 100px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    background: url(/assets/images/icon_new2017.png) no-repeat -280px 7px;
  }

  .ty-phukiengiare__item_icon3 {
    float: left;
    display: block;
    width: 100px;
    height: 70px;
    margin-right: 10px;
    overflow: hidden;
    background: url('/assets/images/icon_new2017.png') no-repeat -186px -82px;
  }

  .new_info_footer:after {
    content: "";
    position: absolute;
    width: 57px;
    height: 55px;
    display: block;
    top: 22px;
    left: 0;
    z-index: 9;
    background: url('/assets/images/icon_new2017.png') no-repeat -52px -129px;
  }

  hr {
    border-top: 1px solid #fec909;
  }
</style>
<!--/.Footer-->
