<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="pageChange($event)">
  <nav *ngIf="show(p)">
    <ul class="pagination pg-red">
      <!--Arrow left-->
      <li class="page-item" [class.disabled]="p.isFirstPage()">
        <a class="page-link" aria-label="Previous" (click)="p.previous()">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
      </li>

      <!--Numbers-->
      <li class="page-item" *ngFor="let page of p.pages" [ngClass]="{active: p.getCurrent() === page.value}">
        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" class="page-link">{{page.label}}</a>
        <a *ngIf="p.getCurrent() === page.value" class="page-link">{{page.label}}</a>
      </li>

      <!--Arrow right-->
      <li class="page-item" [class.disabled]="p.isLastPage()">
        <a class="page-link" aria-label="Next" *ngIf="!p.isLastPage()" (click)="p.next()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
      </li>
    </ul>
  </nav>
</pagination-template>
<!--/Pagination red-->
