.result-pagination.blog-pagination {
  margin-top: 0;
}
@media only screen and (max-width: 479px) {
  .result-pagination .links {
    overflow: visible;
    text-align: center;
  }
}

.result-pagination.blog-pagination .links .pagination li > a,
.result-pagination.blog-pagination .links .pagination li > span {
  width: 30px;
  height: 30px;
  font-size: 13px;
  line-height: 28px;
}

.pagination.pg-red .active .page-link {
  background-color: #ff3547;
}

.pagination {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-left: 0;
}

.pagination .active .page-link {
  border-radius: 2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

.pagination .page-link {
  background-color: transparent;
  font-size: 1.8rem;
  border: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a.waves-effect,
a.waves-light {
  display: inline-block;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  z-index: 1;
}

.page-link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

.alert,
.btn .badge,
.page-link {
  position: relative;
}

.custom-file-control,
.waves-effect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.pswp__container,
.pswp__img,
.waves-effect,
a,
html {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
}

[role=button],
a,
area,
button,
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
