<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Thêm mới tin tuc</h4>
            <p class="category">Tạo tin</p>
          </div>
          <div class="card-content">

              <div *ngIf="uploading" class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
              </div>
            <div class="card-content" style="text-align:left">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Tieu de</label>
                      <input type="text" [(ngModel)]="blog.title" class="form-control" name="title">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="file-field">
                      <div class="btn btn-primary btn-sm waves-effect waves-light">
                        <span>Chọn hình tieu de</span>
                        <input #logoButton (change)="detectPhoto($event)" accept="image/png, image/jpeg, image/gif" type="file">
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-md-8">
                    <div class="form-group form-black label-floating is-empty" style="margin-top: 0px; text-align: left">
                      <input type="text" disabled class="form-control">
                    </div>
                  </div> -->
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Tac gia</label>
                      <input type="text" [(ngModel)]="blog.author" class="form-control" name="provider">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label for="inputPrice">Danh mục</label>
                      <select id="input-limit" class="form-control mdb-select colorful-select dropdown-primary" #category  style="border-bottom: 1px solid #bdbdbd;">
                        <option></option>
                        <option value="mobile">Tin khuyen mai</option>
                        <option value="tablet">Tin cong nghe</option>
                        <option value="other">Review san pham</option>
                        <option value="other">Meo hay</option>

                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-content">
            <form (ngSubmit)="createNewBlog()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label>Mô tả ngắn gọn</label>
                    <div [(ngModel)]="blog.description" [froalaEditor]="options" name="description"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label>Mô tả chi tiết</label>
                    <div [(ngModel)]="blog.content" [froalaEditor]="options" name="fullDescription"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <tag-input [(ngModel)]="items" name="corn" placeholder="Thêm tags" name="tags"></tag-input>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right">Dang tin</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Table on Plain Background</h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Salary</th>
                  <th>Country</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Dakota Rice</td>
                  <td>$36,738</td>
                  <td>Niger</td>
                  <td>Oud-Turnhout</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Minerva Hooper</td>
                  <td>$23,789</td>
                  <td>Curaçao</td>
                  <td>Sinaai-Waas</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Sage Rodriguez</td>
                  <td>$56,142</td>
                  <td>Netherlands</td>
                  <td>Baileux</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Philip Chaney</td>
                  <td>$38,735</td>
                  <td>Korea, South</td>
                  <td>Overland Park</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Doris Greene</td>
                  <td>$63,542</td>
                  <td>Malawi</td>
                  <td>Feldkirchen in Kärnten</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Mason Porter</td>
                  <td>$78,615</td>
                  <td>Chile</td>
                  <td>Gloucester</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading [(loading)]="loading"></loading>
