<style>
  .media {
    padding-top: 40px;
  }

  .media a:hover,
  .media a:focus {
    text-decoration: none;
    outline: none;
  }

  .media .media-left .icon {
    display: block;
    width: 80px;
    height: 80px;
    padding: 16px 6px;
    color: #f0f0f0;
    text-align: center;
    border-radius: 50%;
  }

  .media .media-left .icon::before {
    font-size: 44px;
  }

  .nav-item {
    width: 20%;
  }

  .nav-item a {
    color: #fec909;
  }

  .prev .nav-link {
    background: #262324 url(https://phukiengiare.com/design/themes/responsive/media/images/right_tab_hotro.jpg) no-repeat right -84px !important;
  }

  .nav-tabs .nav-link.prev {
    background: #262324 url(https://phukiengiare.com/design/themes/responsive/media/images/right_tab_hotro.jpg) no-repeat right -84px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #495057;
    background: #fff url(https://phukiengiare.com/design/themes/responsive/media/images/right_tab_hotro.jpg) no-repeat right -42px;
  }

  .nav-tabs .nav-link {
    border: none;

    border-top-left-radius: 0px;
    height: 42px;
    padding-top: 10px;
    border-top-right-radius: 0px;
    background: #262324 url(https://phukiengiare.com/design/themes/responsive/media/images/right_tab_hotro.jpg) no-repeat right top;
  }
</style>
<div style="background-color: #262324; padding: 5px;">
  <div class="container">
    <ul id="tabsJustified" class="nav nav-tabs">
      <li class="nav-item" style="border-left: 1px solid #636161;" (click)="prevousUpDate(0)" [ngClass]="{'prev': index === 1 }">
        <a href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase active">
        <label class="hidden-xs">Nhắn tin & Hỗ Trợ</label>
        <i style="margin: 5px;" class="visible-xs fa fa-commenting" aria-hidden="true"></i>
      </a>
      </li>
      <li class="nav-item" (click)="prevousUpDate(1)" [ngClass]="{'prev': index === 2 }">
        <a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase ">
        <label class="hidden-xs">Quy trình đặt hàng</label>
        <i style="margin: 5px;" class="visible-xs fa fa-step-forward" aria-hidden="true"></i>
      </a>
      </li>
      <li class="nav-item" (click)="prevousUpDate(2)" [ngClass]="{'prev': index === 3 }">
        <a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">
          <label class="hidden-xs">Thanh toán đơn hàng</label>
          <i style="margin: 5px;" class="visible-xs fa fa-credit-card" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item" (click)="prevousUpDate(3)" [ngClass]="{'prev': index === 4 }">
        <a href="" data-target="#messages2" data-toggle="tab" class="nav-link small text-uppercase">
          <label class="hidden-xs">Vận chuyển đơn hàng</label>
          <i style="margin: 5px;" class="visible-xs fa fa-truck" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item" (click)="prevousUpDate(4)" [ngClass]="{'prev': index === 5 }">
        <a href="" data-target="#messages3" data-toggle="tab" class="nav-link small text-uppercase">
          <label class="hidden-xs">Hoàn thành đơn hàng</label>
          <i style="margin: 5px;" class="visible-xs fa fa-check" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div style="background-color: #fec909">
  <section class="container py-4">
    <div class="row">
      <div class="col-md-12">
        <br>
        <div id="tabsJustifiedContent" class="tab-content">
          <div id="home1" class="tab-pane fade active show">
            <div class="row pb-2">
              <div class="col-md-5"><img src="assets/images/nhan-tin.png" class="float-right img-fluid img-rounded"></div>
              <div class="col-md-7">
                <div class="body_tab_content">
                  <h4>Quý khác hàng sử dụng công cụ Chát Hỗ Trợ!</h4>
                  <ul>
                    <li>Hỏi đáp thắc mắc về sản phẩm </li>
                    <li>Thông tin vận chuyển của đơn hàng </li>
                    <li>Theo dõi trạng thái của đơn hàng</li>
                    <li>Nội dung chát được lưu lại, khi truy cập sau</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="profile1" class="tab-pane fade ">
            <div class="row pb-2">
              <div class="col-md-5"><img src="assets/images/dat_hang.png" class="float-right img-fluid img-rounded"></div>
              <div class="col-md-7">
                <div class="body_tab_content">
                  <h4>Phương thức đặt hàng tại Phụ Kiện Giá Rẻ!</h4>
                  <ul>
                    <li>Mua hàng trức tiếp tại Showroom Phukiengiare.com</li>
                    <li>Đặt hàng qua Website chính thức của Phukiengiare.com </li>
                    <li>Đặt hàng qua Facepage chỉnh thức của Phukiengiare.com</li>
                    <li>Đặt hàng trực tiếp thông qua Hotline: 1900.63.60</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="messages1" class="tab-pane fade">
            <div class="row pb-2">
              <div class="col-md-5"><img src="assets/images/thanh_toan.png" class="float-right img-fluid img-rounded"></div>
              <div class="col-md-7">
                <div class="body_tab_content">
                  <h4>Phương thức thanh toán đơn hàng tại Phụ Kiện Giá Rẻ!</h4>
                  <ul>
                    <li>Thanh toán trực tiếp tại cửa hàng.</li>
                    <li>Thanh toán qua chuyển khoản ngân hàng. </li>
                    <li>Thanh toán khi nhận hàng qua bưu điện.</li>
                    <li>Thanh toán khi nhận hàng qua nhân viên giao hàng của Phukiengiare.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="messages2" class="tab-pane fade">
            <div class="row pb-2">
              <div class="col-md-5"><img src="assets/images/van_chuyen.png" class="float-right img-fluid img-rounded"></div>
              <div class="col-md-7">
                <div class="body_tab_content">
                  <h4>Phương thức vận chuyển đơn hàng tại Phukiengiare.com!</h4>
                  <ul>
                    <li>Nhận đơn hàng trực tiếp tại Showroom.</li>
                    <li>Các đơn hàng tại TP.HCM, sẽ được nhân viên giao hàng tới tân tay khách hàng. </li>
                    <li>Các đơn hàng C.O.D, nhân viên bưu điện sẽ giao và thu tiền quý khách hàng.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="messages3" class="tab-pane fade">
            <div class="row pb-2">
              <div class="col-md-5"><img src="assets/images/hoan_thanh.png" class="float-right img-fluid img-rounded"></div>
              <div class="col-md-7">
                <div class="body_tab_content">
                  <h4>Đơn hàng của quý khách đã giao dịch thành công!</h4>
                  <ul>
                    <li>Quý khách có thể để lại phản hồi của mình về sản phẩm của Phukiengiare.com </li>
                    <li>Khi sản phẩm bị lỗi do nhà sản xuất, quý khách hàng có thể đổi trả miễn phí.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
