<div class="ty-column5">
  <div class="ty-grid-list__item">
    <div class="ty-discount-label" *ngIf="product.sale"> <i class="fa fa-caret-down" aria-hidden="true"></i>
      <span class="ty-discount-label__value" id="prc_discount_value_label_2800037189">
      <label style="font-style:normal;font-size: 12px;
color: white;
z-index: 100;">GIẢM {{product.sale}}% </label></span>
      <!--discount_label_update_2800037189-->
    </div>
    <div class="ty-grid-list__image">
      <div class="lables-new"></div>
      <a [routerLink]="['/chi-tiet', product.slug]" title="{{product.title}}">
        <img class="b-lazy ty-pict view_images_1  b-loaded" src="{{product.photoUrl}}" alt="{{product.title}}" title="{{product.title}}" >
        <img *ngIf="product.photos" class="b-lazy ty-pict view_images_2 b-loaded" src="{{product.photos[0]}}" alt="{{product.title}}" title="{{product.title}}">
      </a>
    </div>
    <div class="ty-grid-list__item-name">
      <h3 *ngIf="product.category"><a [routerLink]="['/chi-tiet', product.slug]" class="product-title" title="{{product.title}}">{{product.title}}</a></h3>
    </div>
    <div class="ty-grid-list__price " *ngIf="product.sale">
      <span class="cm-reload-2800037176" id="old_price_update_2800037176">
        <span class="ty-list-price ty-nowrap" id="line_list_price_2800037176">
          <span class="list-price-label">Giá gốc:</span> <span class="ty-strike">
        <span id="sec_list_price_2800037176" class="ty-list-price ty-nowrap">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>&nbsp;
      </span>
      </span>
      </span>
      <span class="cm-reload-2800037170" id="old_price_update_2800037170"> <!--old_price_update_2800037170--></span> <span class="cm-reload-2800037170 ty-price-update" id="price_update_2800037170">
        <input type="hidden" name="appearance[show_price_values]" value="1"> <input type="hidden" name="appearance[show_price]" value="1"> <span class="ty-price" id="line_discounted_price_2800037170">
          <strong class="ty-price-num">Giá bán: </strong> <span id="sec_discounted_price_2800037170" class="ty-price-num">{{product.newPrice|currency:'VND':'symbol':'.0-3'}}</span>&nbsp;
      </span>
      </span>
    </div>
    <div class="ty-grid-list__price " *ngIf="!product.sale">
      <span class="cm-reload-2800037170" id="old_price_update_2800037170"> <!--old_price_update_2800037170--></span> <span class="cm-reload-2800037170 ty-price-update" id="price_update_2800037170">
        <input type="hidden" name="appearance[show_price_values]" value="1"> <input type="hidden" name="appearance[show_price]" value="1"> <span class="ty-price" id="line_discounted_price_2800037170">
          <strong class="ty-price-num">Giá bán: </strong> <span id="sec_discounted_price_2800037170" class="ty-price-num">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>&nbsp;
      </span>
      </span>
    </div>
  </div>
</div>
<style>
  .ty-grid-list__image img {
    width: 100%;
  }

  /* @media (max-width:767px) {
    .ty-grid-list__item{
      width: 50%;
    }
  } */
</style>
