.overlay:hover {
  transition: all .2s linear;
  transform: scale(1.1);
  border-radius: 0px !important;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

.btn-floating {
  position: relative;
  width: 35px;
  border-radius: 50%;
  float: right;
}

.btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important;
}

.btn-floating i {
  width: inherit;
  font-size: 1.25rem;
  line-height: 35px;
  text-align: center;
}

a:hover {
  text-decoration: none;
}
.ty-sidebox-title {
  border-bottom: 1px solid #eaeaea;
}

.ty-sidebox-title-wrapper {
  border-bottom: 2px solid #fec909;
  height: 100%;
  padding-bottom: 7px;
}

.ty-column4,
.ty-column5,
.ty-column6 {
  margin-right: -1px;
  height: 310px;
  margin-top: -1px;
  position: relative;
}

.ty-column5 {
  display: inline-block;
  vertical-align: top;
  margin-right: -0.25em;
}



@media (max-width:767px) {
  .ty-grid-list__item {
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 10px;
    height: 270px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-top: -1px;
  }
}

@media (min-width:767px) {
  .ty-grid-list__item {
    border: 1px solid #f2f2f2;
    background-color: white;
    padding: 10px;
    height: 310px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-top: -1px;
  }
}

.ty-grid-list__image {
  height: auto !important;
}

.ty-grid-list__image {
  position: relative;
  text-align: center;
  height: 195px;
}

.lables-new {
  background: url('/assets/images/labl_new.png') no-repeat 1px 1px;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 74px;
  height: 45px;
  z-index: 9;
}

a {
  font-family: '' Tahoma '', Geneva, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline: none;
  color: #333;
  cursor: pointer;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}

.ty-grid-list__item-name {
  margin: 10px 0 !important;
}

.ty-grid-list__item-name .product-title {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  text-shadow: 0px 1px #f9f9f9;
  overflow: hidden;
  height: 35px;
  display: block;
  margin-bottom: 5px;
}

.ty-grid-list__price {
  margin-top: 3px;
  overflow: hidden;
  word-break: break-all;
  text-align: right;
}

.ty-price-update {
  display: block;
  font-size: 13px;
  margin: 2px 0;
}

.ty-price {
  color: #e91f27;
}

.ty-price,
.ty-sub-price,
.ty-list-price {
  font-size: 100%;
}

strong.ty-price-num {
  font-weight: normal;
}

.ty-price-num {
  font-size: 15px;
  font-weight: bold;
}

.ty-price-num {
  font-size: 15px;
  font-weight: bold;
}

.view_images_2 {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  transform-style: preserve-3d;
}

.view_images_2:hover {
  opacity: 1;
}

.ty-discount-label {
  background: #DF0000;
  height: 30px;
  width: 38px;
  position: absolute;
  top: 0;
  right: 15px;
  padding: 4px 0 3px;
  text-align: center;
  z-index: 1;
}

.ty-discount-label .icon-label {
  font-size: 135px;
  position: absolute;
  top: -17px !important;
  left: -11px;
  color: #DF0000;
}

.ty-discount-label .fa {
  position: absolute;
  font-size: 82px;
  left: -4px;
  top: 0px;
  z-index: -1;
  color: #DF0000;
}

.ty-strike {
  text-decoration: line-through;
}

.ty-list-price {
  color: #8c8c8c;
  line-height: 16px;
  font-size: 12px;
}
