<div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slide1"></div>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Example headline.</h1>
          <p class="hidden-xl">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide2"></div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p class="hidden-xl">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide3"></div>
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>One more for good measure.</h1>
          <p class="hidden-xl">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slide4"></div>
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>One more for good measure.</h1>
          <p class="hidden-xl">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="visible-xs">
  <img width="100%" src="assets/images/banner-mobi.jpg" />
</div>
<style>
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .slide1 {
      background: url('/assets/images/slide1.webp') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .slide2 {
      background: url('/assets/images/slide6.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .slide3 {
      background: url('/assets/images/slide7.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .slide4 {
      background: url('/assets/images/slide10.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }

  @-moz-document url-prefix() {
    .slide1 {
      background: url('/assets/images/slide1.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .slide2 {
      background: url('/assets/images/slide2.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .slide3 {
      background: url('/assets/images/slide3-min.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }

  /* GLOBAL STYLES
-------------------------------------------------- */

  /* Padding below the footer and lighter body text */

  /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

  /* Carousel base class */

  .carousel {
    margin-bottom: 4rem;
  }

  /* Since positioning the image, we need to help out the caption */

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */

  .carousel-item {
    height: 32rem;
    background-color: #777;
  }

  .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  @keyframes animate-carousel-title {
    0% {
      transform: translate(0, -2em);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes animate-carousel-btn-primary {
    0% {
      opacity: 0;
      transform: translate(-3em, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes animate-carousel-description {
    0% {
      opacity: 0;
      transform: translate(5em, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .carousel-item.active h1 {
    opacity: 0;
    animation: animate-carousel-title 1s normal forwards;
  }

  .carousel-item p,
  h1,
  .btn-primary {
    opacity: 0;
  }

  .carousel-item.active p {
    opacity: 0;
    animation: animate-carousel-description 1s normal forwards;
  }

  .carousel-item.active .btn-primary {
    opacity: 0;
    background-color: transparent;
    border: 1px solid white;
    animation: animate-carousel-btn-primary 1s normal forwards;
    animation-delay: 1s;
  }

  .carousel-indicators {
    z-index: 0;
  }
</style>
