<div class="modal-dialog" role="document" *ngIf="product">
  <div class="modal-content" >
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Đặt hàng nhanh</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="loading">
      <div class="row">
        <div class="col-lg-6">
          <div class="ty-float-left main-dathang-left">
            <div class="ty-cr-product-info-container font-bold" style="color: #000;font-size: 15px;margin-bottom: 10px;"> {{product.title}} </div>
            <div class="row">
              <div class="col-lg-6">
                <img class="ty-pict " src="{{product.photoUrl}}" alt="{{product.title}}" title="{{product.title}}" width="150" height="150">
              </div>
              <div class="col-lg-6">
                <p class="main-price"> <strong>Giá bán: </strong>{{product.price|currency:'VND':'symbol':'.0-3'}}</p> <span class="sku_main">Mã sản phẩm: {{product.id}}</span> </div>
            </div>
            <div class="note_dat_hang_nhanh"> - PKGR chỉ nhận ship hóa đơn trên 100k<br>- Ship HCM phí là 10k - 30k tùy khu vực<br>- Ship tỉnh khác phí là 30k từ 2 - 5 ngày<br>- Đơn hàng từ 500k trở lên, miễn phí ship toàn quốc<br><span style="background:red;color:#fff">Trước khi gởi hàng, PKGR sẽ có nhân viên kiểm tra kỹ mới đóng gói. Quý khách yên tâm nhận hàng! Nếu hàng lỗi shop có chính sách đổi trả miễn phí.</span><br>              </div>
            <div id="info_cart36412">
              <!--info_cart36412-->
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group row">
            <label for="example-text-input" class="col-12 col-form-label required"><strong>Tên của bạn</strong></label>
            <div class="col-12">
              <input class="form-control" type="text" [(ngModel)]="order.name" name="name">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-12 col-form-label required"><strong>Điện thoại</strong></label>
            <div class="col-12">
              <input class="form-control" type="text" [(ngModel)]="order.phone" name="phone">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-12 col-form-label required"><strong>Email</strong> (Nên nhập địa chỉ Email để nhận thông tin đơn hàng)</label>
            <div class="col-12">
              <input class="form-control" type="text" [(ngModel)]="order.email" name="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-12 col-form-label required"><strong>Tỉnh/Thành</strong></label>
            <div class="col-12">
              <select class="ty-input-text-medium form-control" [(ngModel)]="order.ward" id="elm_state37216" name="call_data[state]">
                <option label="" value="">- Chọn tỉnh thành -</option>
                                	<option value="AG">An Giang</option>
		                      	<option value="BRVT">Bà Rịa - Vũng Tàu</option>
		                      	<option value="BG">Bắc Giang</option>
		                      	<option value="BK">Bắc Kạn</option>
		                      	<option value="BL">Bạc Liêu</option>
		                      	<option value="BN">Bắc Ninh</option>
		                      	<option value="BTR">Bến Tre</option>
		                      	<option value="BD">Bình Dương</option>
		                      	<option value="BP">Bình Phước</option>
		                      	<option value="BT">Bình Thuận</option>
		                      	<option value="BĐ">Bình Định</option>
		                      	<option value="CM">Cà Mau</option>
		                      	<option value="CT">Cần Thơ</option>
		                      	<option value="CB">Cao Bằng</option>
		                      	<option value="GL">Gia Lai</option>
		                      	<option value="HG">Hà Giang</option>
		                      	<option value="HNA">Hà Nam</option>
		                      	<option value="HN">Hà Nội</option>
		                      	<option value="HT">Hà Tĩnh</option>
		                      	<option value="HD">Hải Dương</option>
		                      	<option value="HP">Hải Phòng</option>
		                      	<option value="HGI">Hậu Giang</option>
		                      	<option value="HCM-BC">Hồ Chí Minh - Bình Chánh</option>
		                      	<option value="HCM-CG">Hồ Chí Minh - Cần Giờ</option>
		                      	<option value="HCM-CC">Hồ Chí Minh - Củ Chi</option>
		                      	<option value="HCM-HM">Hồ Chí Minh - Hóc Môn</option>
		                      	<option value="HCM-NB">Hồ Chí Minh - Nhà Bè</option>
		                      	<option value="HCM-Q1">Hồ Chí Minh - Q.1</option>
		                      	<option value="HCM-Q10">Hồ Chí Minh - Q.10</option>
		                      	<option value="HCM-Q11">Hồ Chí Minh - Q.11</option>
		                      	<option value="HCM-Q12">Hồ Chí Minh - Q.12</option>
		                      	<option value="HCM-Q2">Hồ Chí Minh - Q.2</option>
		                      	<option value="HCM-Q3">Hồ Chí Minh - Q.3</option>
		                      	<option value="HCM-Q4">Hồ Chí Minh - Q.4</option>
		                      	<option value="HCM-Q5">Hồ Chí Minh - Q.5</option>
		                      	<option value="HCM-Q6">Hồ Chí Minh - Q.6</option>
		                      	<option value="HCM-Q7">Hồ Chí Minh - Q.7</option>
		                      	<option value="HCM-Q8">Hồ Chí Minh - Q.8</option>
		                      	<option value="HCM-Q9">Hồ Chí Minh - Q.9</option>
		                      	<option value="HCM-QBTA">Hồ Chí Minh - Q.Bình Tân</option>
		                      	<option value="HCM-QBTH">Hồ Chí Minh - Q.Bình Thạnh</option>
		                      	<option value="HCM-QGV">Hồ Chí Minh - Q.Gò Vấp</option>
		                      	<option value="HCM-QPN">Hồ Chí Minh - Q.Phú Nhuận</option>
		                      	<option value="HCM-QTB">Hồ Chí Minh - Q.Tân Bình</option>
		                      	<option value="HCM-QTP">Hồ Chí Minh - Q.Tân Phú</option>
		                      	<option value="HCM-QTD">Hồ Chí Minh - Q.Thủ Đức</option>
		                      	<option value="HB">Hòa Bình</option>
		                      	<option value="HY">Hưng Yên</option>
		                      	<option value="KH">Khánh Hòa</option>
		                      	<option value="KG">Kiên Giang</option>
		                      	<option value="KT">Kon Tum</option>
		                      	<option value="LC">Lai Châu</option>
		                      	<option value="LĐ">Lâm Đồng</option>
		                      	<option value="LS">Lạng Sơn</option>
		                      	<option value="LCA">Lào Cai</option>
		                      	<option value="LA">Long An</option>
		                      	<option value="NĐ">Nam Định</option>
		                      	<option value="NA">Nghệ An</option>
		                      	<option value="NB">Ninh Bình</option>
		                      	<option value="NT">Ninh Thuận</option>
		                      	<option value="PT">Phú Thọ</option>
		                      	<option value="PY">Phú Yên</option>
		                      	<option value="QB">Quảng Bình</option>
		                      	<option value="QNA">Quảng Nam</option>
		                      	<option value="QNG">Quảng Ngãi</option>
		                      	<option value="QNI">Quảng Ninh</option>
		                      	<option value="QTR">Quảng Trị</option>
		                      	<option value="ST">Sóc Trăng</option>
		                      	<option value="SL">Sơn La</option>
		                      	<option value="TN">Tây Ninh</option>
		                      	<option value="TB">Thái Bình</option>
		                      	<option value="TNG">Thái Nguyên</option>
		                      	<option value="TH">Thanh Hóa</option>
		                      	<option value="TTH">Thừa Thiên Huế</option>
		                      	<option value="TG">Tiền Giang</option>
		                      	<option value="TV">Trà Vinh</option>
		                      	<option value="TQ">Tuyên Quang</option>
		                      	<option value="VL">Vĩnh Long</option>
		                      	<option value="VP">Vĩnh Phúc</option>
		                      	<option value="YB">Yên Bái</option>
		                      	<option value="ĐN">Đà Nẵng</option>
		                      	<option value="ĐL">Đắk Lắk</option>
		                      	<option value="ĐNO">Đắk Nông</option>
		                      	<option value="ĐB">Điện Biên</option>
		                      	<option value="ĐNA">Đồng Nai</option>
		                      	<option value="ĐT">Đồng Tháp</option>
		        </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-12 col-form-label required"><strong>Địa chỉ</strong></label>
            <div class="col-12">
              <input class="form-control" type="text" [(ngModel)]="order.address" name="address">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-text-input" class="col-12 col-form-label required"><strong>Ghi chú</strong></label>
            <div class="col-12">
              <textarea class="form-control" type="text" [(ngModel)]="order.description" name="description">
              </textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" (click)="booking()" class="btn btn-primary">Đặt hàng nhanh</button>
      </div>
    </div>

    <div class="modal-body text-center" *ngIf="!loading">
      <h1 class="text-center">Đặt hàng thành công</h1>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
  <style>
    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 900px;
        margin: 30px auto;
      }
    }
  </style>
