.note_dat_hang_nhanh {
    background: #f8f8f8;
    padding: 8px 8px;
    margin: 10px 0;
    border: 1px solid #d2d2d2;
}

p.main-price {
    padding: 2px 0;
    color: red;
    font-size: 16px;
}
p.main-price strong {
    color: #333;
    font-size: 15px;
}
