<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Quản lý danh mục sản phẩm</h4>
            <p class="category">Quản lý theo dữ liệu cha con <a target="_blank" href="https://design.google.com/icons/">Google</a></p>
          </div>
          <!-- <div class="card-content">
                        <div class="iframe-container hidden-sm hidden-xs">
                            <iframe src="https://design.google.com/icons/">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                        <div class="col-md-6 hidden-lg hidden-md text-center">
                            <h5>The icons are visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the icons on their original page on Google. Check the  <a href="https://design.google.com/icons/" target="_blank">Material Icons</a></h5>
                        </div>
                    </div> -->
          <div class="card-content">
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Tên danh mục</label>
                      <input type="text" [(ngModel)]="category_name" class="form-control" name="category_name">
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label for="inputPrice">Danh mục cha</label>
                      <select id="input-limit" class="form-control mdb-select colorful-select dropdown-primary" #category (change)="selectCategory(category.value)" style="border-bottom: 1px solid #bdbdbd;">
                        <option></option>
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Loại danh mục hàng</label>
                      <!-- <input type="text" [(ngModel)]="product.prodType" class="form-control" name="providerType"> -->
                      <select id="input-limit" class="form-control mdb-select colorful-select dropdown-primary" #prodType (change)="selectProductType(prodType.value)" style="border-bottom: 1px solid #bdbdbd;">
                        <option></option>
                        <option value="mobile">Điện thoại</option>
                        <option value="tablet">Máy tính bảng</option>
                        <option value="other">Phụ kiện</option>
                      </select>
                    </div>
                  </div>
                  <button type="button" (click)="createCategory()" class="btn btn-danger pull-right">Tạo danh mục</button>

                </div>
              </div>
              <div class="col-md-8">
                <div class="card">
                  <h3 class="card-header" data-background-color="red">Danh mục sản phẩm</h3>
                  <div class="card-body">
                    <div id="table" class="table-editable">
                      <table class="table table-bordered table-responsive table-striped text-center">
                        <tr>
                          <th class="text-center">Tên danh mục</th>
                          <th class="text-center">Loại danh mục</th>
                          <th class="text-center">Hình ảnh</th>
                          <th class="text-center">Remove</th>
                        </tr>
                        <tr *ngFor="let category of categories | paginate: config ">
                          <td class="pt-3-half" contenteditable="true">{{category.name}}</td>
                          <!-- <td class="pt-3-half" *ngIf="!category.parent">-</td>
                          <td class="pt-3-half" *ngIf="category.parent">{{category.parent.name}}</td> -->
                          <td class="pt-3-half" *ngIf="!category.type">
                            <select id="input-limit" class="form-control mdb-select colorful-select dropdown-primary" #prodType2 (change)="changeProductType(prodType2.value, category)" style="border-bottom: 1px solid #bdbdbd;">
                              <option></option>
                              <option value="mobile">Điện thoại</option>
                              <option value="tablet">Máy tính bảng</option>
                              <option value="other">Phụ kiện</option>
                            </select>
                          </td>
                          <td class="pt-3-half" *ngIf="category.type">{{category.type}}</td>
                          <td class="pt-3-half" *ngIf="!category.image">
                            <div class="file-field">
                              <div class="btn btn-primary btn-sm waves-effect waves-light">
                                <span>Chọn hình</span>
                                <input type="file" (change)="detectPhoto($event, category)" accept="image/png, image/jpeg, image/gif">
                              </div>
                            </div>
                          </td>
                          <td class="pt-3-half" *ngIf="category.image">
                            <img src="{{category.image}}" style="width: auto; height: 50px" />
                          </td>

                          <td>
                            <span class="table-remove"><button type="button" (click)="deteleteCategory(category.id)" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                          </td>
                        </tr>
                        <!-- This is our clonable table line -->
                      </table>
                    </div>
                    <app-pagination [config]="config"></app-pagination>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
