<div class="container" *ngIf="product">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      {{product.title}}
    </li>
  </ol>
  <div class="row">
    <div class="col-md-12">
      <div class="row product__main">
        <div class="col-sm-6 col-sm-offset-1" style="min-height: 500px">
          <div class="mainImage" [ngStyle]="{'background-image': 'url(' + imageURL + ')'}">
          </div>
          <div class="ribbon sale">
            <div class="theribbon">Giảm giá {{product.sale}}%</div>
            <div class="ribbon-background"></div>
          </div>
          <div class="ribbon new">
            <div class="theribbon">Hàng mới</div>
            <div class="ribbon-background"></div>
          </div>
          <div class="row product__thumbs">
            <div style="padding-left: 30px; padding-right: 30px;">
              <div class="image-additional">
                <ngx-carousel [inputs]="carouselTile">
                  <ngx-item NgxCarouselItem>
                    <div class="col-xs-4"><a (click)="index = -1; imageURL = product.photoUrl;" [ngClass]="{'active': index == -1 }" class="thumb"><img style="height: 130px; width: 100%" src="{{product.photoUrl}}" alt="" class="img-responsive"></a></div>
                  </ngx-item>
                  <ngx-item NgxCarouselItem *ngFor="let item of product.photos; let i = index">
                    <div class="col-xs-4"><a (click)="index = i; imageURL = item;" [ngClass]="{'active': index == i }" class="thumb"><img style="height: 130px; width: 100%" src="{{item}}" alt="" class="img-responsive"></a></div>
                  </ngx-item>
                  <button NgxCarouselPrev #prevButton class='leftRs slide'><i data-original-title="Previous" style="letter-spacing: -1px;" class="fa fa-angle-left btooltip">&nbsp;</i></button>
                  <button NgxCarouselNext #nextButton class='rightRs slide'><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></button>

                </ngx-carousel>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
          <form>
            <h3 class="product__heading" style="margn-top: 20px">{{product.title}}</h3>
            <p class="code">Mã sản phẩm: #{{product.id}}</p>
            <span *ngIf="product.sale"><strong>Giá gốc: </strong>
            <span class="ty-strike"><span class="ty-list-price ty-nowrap">{{product.price|currency:'VND':'symbol':'.0-3'}}</span>&nbsp;
            <span class="ty-list-price ty-nowrap">đ</span></span>
            </span>
            <p *ngIf="product.sale" class="price">Giá bán: {{product.newPrice|currency:'VND':'symbol':'.0-3'}}</p>
            <p *ngIf="!product.sale" class="price">Giá bán: {{product.price|currency:'VND':'symbol':'.0-3'}}</p>
            <span *ngIf="product.sale"><strong>Tiết kiệm: </strong><span>{{product.price - product.newPrice|currency:'VND':'symbol':'.0-3'}} ({{product.sale}}%)</span></span>
            <div>
              <label class="ty-control-group__label">Trình trạng:</label><span class="ty-qty-in-stock ty-control-group__item" id="in_stock_info_35029">Còn hàng</span>
            </div>
            <p>
              <button type="button" class="btn btn-primary" (click)="showModal(product)" data-toggle="modal" data-target="#bookingInfo"><i class="fa fa-shopping-cart"></i>&nbsp;Đặt hàng nhanh</button>
              <span class="contact-form">
                <input id="cm-phone-35029" type="text" class="cart_phone cm-hint" name="hint_cart_phone" value="" placeholder="Nhập SĐT để được tư vấn miễn phí" />
                <button class="btn ty-btn_cart_phone ty-btn" type="button">Gửi</button>
              </span>
            </p>
          </form>
          <div class="product__details hidden-sm">

            <blockquote>
              <h4>Thông tin &amp; Khuyến mãi</h4>
              <div class="ty-product-block__note">
                <p><span>✪</span> Giao hàng toàn quốc<br></p>
                <p><span>✪</span> Thanh toán khi nhận hàng<br></p>
                <p><span>✪</span> Đơn hàng trên 500.000đ miễn phí vận chuyển<br></p>
                <p><span>✪</span> Thường xuyên có khuyến mãi cho thành viên<br></p>
              </div>
            </blockquote>
          </div>
          <div class="product__social social">
            <h4>Chia sẻ với bạn bè</h4>
            <p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div id="content-tabs-product">
        <h3 class="tab-list-title">Thông tin sản phẩm</h3>
        <div id="content_description" class="ty-wysiwyg-content content-description">
          <div [innerHTML]="product.description">
          </div>
          <div style="width:100%;" [innerHTML]="product.fullDescription"></div>
        </div>
        <div id="content_features" class="ty-wysiwyg-content content-features"> </div>
        <div id="content_tags" class="ty-wysiwyg-content content-tags"> </div>
        <div id="content_video_products" class="ty-wysiwyg-content content-video_products"> </div>
      </div>
      <h3 class="ty-sidebox-title"><span class="product-grouping-title ty-sidebox-title-wrapper">Sản Phẩm Cùng Danh Mục</span></h3>

      <ngx-carousel [inputs]="carouselTile">

        <ngx-item NgxCarouselItem *ngFor="let item of sameProducts;">
          <app-product-item [product]="item"></app-product-item>
          <!-- <div class="col-xs-4"><a (click)="index = i; imageURL = item.big;" [ngClass]="{'active': index == i }" class="thumb"><img style="height: 130px" src="{{item.small}}" alt="" class="img-responsive"></a></div> -->
        </ngx-item>
        <button NgxCarouselPrev #prevButton class='leftRs slide'><i data-original-title="Previous" style="letter-spacing: -1px;" class="fa fa-angle-left btooltip">&nbsp;</i></button>
        <button NgxCarouselNext #nextButton class='rightRs slide'><i data-original-title="Next" class="fa fa-angle-right btooltip rightB">&nbsp;</i></button>

      </ngx-carousel>
    </div>
  </div>
</div>

<style>
  .product__main,
  .quick-view {
    margin-bottom: 30px;
  }

  :host ::ng-deep #content_description img {
    width: 100%;
    max-width: 500px;
  }

  @media (max-width:767px) {
    :host ::ng-deep #content_description img {
      width: 100%;
      max-width: 500px;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
    }

    input.cart_phone {
      height: 42px;
      width: 50%;
      min-width: 200px;
      border: 1px solid #262324;
      color: white;
      background: #262324;
      padding: 5px;
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }
  }

  @media (min-width:767px) {
    :host ::ng-deep #content_description img {
      width: 100%;
      max-width: 500px;
      margin-left: 25%;
      margin-right: 25%;
      text-align: center;
    }

    input.cart_phone {
      height: 42px;
      width: 50%;
      min-width: 220px;
      border: 1px solid #262324;
      color: white;
      background: #262324;
      padding: 5px;
      border-radius: 4px 0 0 4px;
      border-right: 0;
    }

    .contact-form {
      display: inline-block;
    }
  }
  .mainImage {
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: 72%;
    min-height: 300px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    text-align: center;
  }

  .carousel-inner>.item>a>img,
  .carousel-inner>.item>img,
  .img-responsive,
  .thumbnail a>img,
  .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .product__main .price,
  .quick-view .price {
    font-size: 26px;
    font-weight: bold;
    color: #e91f27;
    margin-top: 1rem;
  }

  .product__details {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    border-left: 5px solid #fec909;
  }

  .page-top {
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 30px;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }


  .ribbon.sale {
    top: 0;
  }

  .ribbon {
    position: absolute;
    top: 50px;
    padding-left: 51px;
  }

  .ribbon .theribbon {
    position: relative;
    width: auto;
    padding: 6px 20px 6px 20px;
    margin: 30px 10px 10px -71px;
    color: #fff;
    background-color: #fec909;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  }

  .ribbon .theribbon:after {
    left: 0;
    top: 100%;
    border-width: 5px 10px;
    border-style: solid;
    border-color: #000 #000 transparent transparent;
  }

  .ribbon .theribbon:before,
  .ribbon .theribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  }

  .thumbs a.active,
  .product__thumbs a.active {
    border-bottom-color: #fec909;
  }

  .thumbs a,
  .product__thumbs a {
    display: block;
    border-bottom: solid 3px transparent;
    padding-bottom: 10px;
  }

  a,
  button {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  .product__social {
    margin-top: 30px;
  }

  .quick-view-social p,
  .product__social p {
    line-height: 26px;
  }

  .quick-view-social p a,
  .product__social p a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: bottom;
  }

  a.facebook {
    background-color: #4460ae;
  }

  .quick-view-social p a.gplus,
  .product__social p a.gplus {
    background-color: #c21f25;
  }

  a.twitter {
    background-color: #3cf;
  }

  .quick-view-social p a.email,
  .product__social p a.email {
    background-color: #4a7f45;
  }

  .slide {
    width: 28px;
    height: 28px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    border-radius: 50%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 50%;
    z-index: 100;
    outline: none;
    margin-top: -14px;
  }

  .slide i {
    font-size: 18px;
    line-height: 25px;
  }

  .rightB {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -4px;
  }

  .slide:hover {
    color: white;
    border: none;
    background-color: #fec909;
  }

  .leftRs {
    left: -30px;
  }

  .rightRs {
    right: -30px;
    ;
  }

  .bosszoomtoolbox .image {
    position: relative;
    z-index: 10;
  }

  @media only screen and (min-width: 500px) and (max-width: 1200px) {
    .image-additional {
      padding: 0 45px;
    }
  }

  .item {
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    padding: 5px !important;
  }



  .ty-strike {
    text-decoration: line-through;
  }

  .ty-qty-in-stock {
    color: #e91f27;
  }

  .ty-control-group__item {
    display: inline-block;
    padding: 6px 0;
  }

  .ty-qty-in-stock,
  .ty-qty-out-of-stock {
    font-weight: bold;
  }

  .ty-product-block__wrapper .ty-control-group__label,
  .ty-features-list span {
    color: #555;
    font-size: 14px;
  }

  .ty-control-group__label {
    padding: 6px 0;
    margin-right: 10px;
    color: #1a1a1a;
  }

  .btn-primary {
    background-color: #fec909;
    border-color: #fec909;
    box-shadow: inset 0 -6px 0 -3px #FFA500;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 8px;
    margin-top: -6px;
  }

  .btn-primary:hover {
    box-shadow: inset 0 -6px 0 -3px #FFA500, 0 4px 15px 0 rgba(0, 0, 0, .15) !important;
  }

  button.ty-btn_cart_phone.ty-btn {
    background: #FFCB08;
    height: 42px;
    margin-left: -4px;
    text-transform: uppercase;
    padding: 0 25px;
    outline: none;
    margin-top: -5px;
    border-color: #FFCB08;
    box-shadow: none;
    border-radius: 0 4px 4px 0 !important;
    color: #262324;
  }

  .image-detail-product {
    width: 100%;
    ;
    max-width: 600px;
  }

  @media screen and (max-width: 1024px) {
    .contact-form input {
      margin-top: 10px;
    }
  }

  .btn-primary:not([disabled]):not(.disabled).active,
  .btn-primary:not([disabled]):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
    background-color: #fec909;
    border-color: #fec909;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
  }
</style>
