<section class="section magazine-section">
  <!-- <h3><a [routerLink]="['/tin-tuc']" class="product-grouping-title">Tin tức</a></h3> -->
  <h3 class="ty-sidebox-title">
    <span class="product-grouping-title ty-sidebox-title-wrapper">
      <strong style="font-size: 25px">Tin tức</strong> Phụ kiện giá rẻ
    </span>
    <a class="lnkviewmore" [routerLink]="['/tin-tuc']" >Xem tất cả <strong>›</strong></a>
    </h3>

  <!--Small news-->
  <div class="single-news" *ngFor="let blog of blogs | async">

    <div class="row">
      <div class="col-md-3">

        <!--Image-->
        <div class="view overlay hm-white-slight z-depth-1">
          <img src="{{blog.photoUrl}}" alt="{{blog.title}}">
          <a>
            <div class="mask waves-effect waves-light"></div>
          </a>
        </div>
      </div>

      <!--Excerpt-->
      <div class="col-md-9">
        <p><strong>27/12/2017</strong> | Lượt xem: 102</p>
        <a [routerLink]="['/tin-tuc', blog.slug]">{{blog.title}}</a>
      </div>

    </div>
  </div>
  <!--/Small news-->

</section>

<style>
  .magazine-section .single-news {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1.5rem;
  }

  .view:not(.hm-zoom) {
    overflow: visible;
  }

  .magazine-section .view {
    margin-bottom: 2rem;
  }

  #toast-container>div,
  .author-box,
  .badge,
  .btn,
  .btn-primary.active:not([disabled]):not(.disabled),
  .btn-primary:not([disabled]):not(.disabled):active,
  .card-wrapper .back,
  .card-wrapper .front,
  .card.card-cascade.wider .card-body,
  .card:not([class*=card-outline-]),
  .chip,
  .counter,
  .dropdown-content,
  .jumbotron,
  .md-pills .nav-link.active,
  .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
  .modal-dialog.modal-notify .modal-header,
  .navbar,
  .pagination .active .page-link,
  .pricing-card .price .version,
  .section-blog-fw .view,
  .show>.btn-primary.dropdown-toggle,
  .side-nav,
  .social-list,
  .z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }

  .section img {
    max-width: 100%;
    height: auto;
  }

  .view img,
  .view video {
    display: block;
    position: relative;
  }

  .hm-zoom img,
  .hm-zoom video,
  .overlay img,
  .overlay video {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }

  .magazine-section .single-news p {
    color: #757575;
    margin-bottom: 0px;
  }

  .magazine-section .single-news strong {
    font-weight: 500;
  }

  .magazine-section .single-news a {
    color: #424242;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  a:not([href]):not([tabindex]),
  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
  }

  .ty-sidebox-title {
    border-bottom: 1px solid #eaeaea;
  }

  .ty-sidebox-title-wrapper {
    border-bottom: 2px solid #fec909;
    height: 100%;
    padding-bottom: 7px;
  }

  a.lnkviewmore {
    font-size: 14px;
    color: #343e48;
    display: inline-block !important;
    text-align: right;
    padding: 0px 8px;
    margin-top: 10px;
    position: absolute;
    background: #fec909;
    border-radius: 5px;
    right: 0;
    top: -9px;
    margin-bottom: 0 !important;
  }
</style>
