.file-field {
  position: relative;
}

.file-field input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-field .file-path-wrapper {
  overflow: hidden;
  padding-left: 10px;
  height: 2.5rem;
}

.file-field input.file-path {
  width: 100%;
  height: 2.1rem;
}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  outline: 0;
  height: 2.1rem;
  width: 100%;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.ng2-tag-input {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.25s;
  padding: 0.25rem 0;
  min-height: 32px;
  cursor: text;
  border-bottom: none;
}

.background-image {
  width: 100%;
  height: 292px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  text-align: center;
}
