<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Thêm mới sản phẩm</h4>
            <p class="category">Tạo sản phẩm</p>
          </div>
          <div class="card-content">
            <div class="background-image" (click)="changeLogo()" [ngStyle]="{'cursor': 'pointer', 'background-image': 'url(' + logoURL + ')'}">
              <div *ngIf="uploading" (click)="close()" style="    position: absolute;
                  left: 0px;
                  top: 0px;
                  background: white;
                  opacity: 0.9;
                  width: 100%;
                  height: 100%;
                  z-index:10">
              </div>
              <div *ngIf="uploading" class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
              </div>
            </div>
            <div class="card-content" style="text-align:left">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Tên sản phẩm</label>
                      <input type="text" [(ngModel)]="product.title" class="form-control" name="title">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="file-field">
                      <div class="btn btn-primary btn-sm waves-effect waves-light">
                        <span>Chọn hình chính</span>
                        <input #logoButton (change)="detectPhoto($event)" accept="image/png, image/jpeg, image/gif" type="file">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group form-black label-floating is-empty" style="margin-top: 0px; text-align: left">
                      <label class="control-label text-left">Tên hình ảnh</label>
                      <input type="text" disabled class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="file-field">
                      <div class="btn btn-primary btn-sm waves-effect waves-light">
                        <span>Chọn hình phụ</span>
                        <input (change)="detectPhotos($event)" accept="image/png, image/jpeg, image/gif" type="file" multiple="true">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-8">
                    <div class="form-group form-black label-floating is-empty" style="margin-top: 0px; text-align: left">
                      <label class="control-label text-left">Tên hình ảnh</label>
                      <input type="text" disabled class="form-control">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Nguồn gốc</label>
                      <input type="text" [(ngModel)]="product.provider" class="form-control" name="provider">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="control-label">Loại hàng</label>
                      <!-- <input type="text" [(ngModel)]="product.prodType" class="form-control" name="providerType"> -->
                      <select id="input-limit" class="form-control mdb-select colorful-select dropdown-primary" #prodType (change)="selectProductType(prodType.value)" style="border-bottom: 1px solid #bdbdbd;">
                        <option></option>
                        <option value="mobile">Điện thoại</option>
                        <option value="tablet">Máy tính bảng</option>
                        <option value="other">Phụ kiện</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label for="inputPrice">Danh mục</label>
                      <select id="input-limit" class="form-control mdb-select colorful-select dropdown-primary" #category (change)="selectCategory(category.value)" style="border-bottom: 1px solid #bdbdbd;">
                        <option></option>
                        <option *ngFor="let category of categories" value="{{category.slug}}">{{category.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Thông tin sản phẩm</h4>
            <p class="category">Tạo sản phẩm</p>
          </div>
          <div class="card-content">
            <form (ngSubmit)="createNewProduct()">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label>Mô tả ngắn gọn</label>
                    <div [(ngModel)]="product.description" [froalaEditor]="options" name="description"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label>Mô tả chi tiết</label>
                    <div [(ngModel)]="product.fullDescription" [froalaEditor]="options" name="fullDescription"></div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Giá</label>
                    <input type="number" [(ngModel)]="product.price" class="form-control" name="price">
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group" style="margin-top: 42px; text-align: center">
                    <input type="checkbox" class="filled-in" #giamgia id="checkbox101">
                    <label for="checkbox101">Giảm giá?</label>
                  </div>
                </div>

                <div class="col-md-5" *ngIf="giamgia.checked">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Giá mới</label>
                    <input type="number" [(ngModel)]="product.newPrice" class="form-control" name="newPrice">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <tag-input [(ngModel)]="items" name="corn" placeholder="Thêm tags" name="tags"></tag-input>
                  </div>
                </div>
              </div>

              <div class=row>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="checkbox" [(ngModel)]="product.instock" class="filled-in" id="checkbox102" name="instock">
                    <label for="checkbox102">Còn hàng</label>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <input type="checkbox" [(ngModel)]="product.instock" class="filled-in" id="checkbox103" name="title2">
                    <label for="checkbox103">Còn hàng</label>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <input type="checkbox" [(ngModel)]="product.instock" class="filled-in" id="checkbox104" name="title3">
                    <label for="checkbox104">Còn hàng</label>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right">Tạo sản phẩm</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>



      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Table on Plain Background</h4>
            <p class="category">Here is a subtitle for this table</p>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Salary</th>
                  <th>Country</th>
                  <th>City</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Dakota Rice</td>
                  <td>$36,738</td>
                  <td>Niger</td>
                  <td>Oud-Turnhout</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Minerva Hooper</td>
                  <td>$23,789</td>
                  <td>Curaçao</td>
                  <td>Sinaai-Waas</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Sage Rodriguez</td>
                  <td>$56,142</td>
                  <td>Netherlands</td>
                  <td>Baileux</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Philip Chaney</td>
                  <td>$38,735</td>
                  <td>Korea, South</td>
                  <td>Overland Park</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Doris Greene</td>
                  <td>$63,542</td>
                  <td>Malawi</td>
                  <td>Feldkirchen in Kärnten</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Mason Porter</td>
                  <td>$78,615</td>
                  <td>Chile</td>
                  <td>Gloucester</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading [(loading)]="loading"></loading>
