<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <base href="/">

  <meta name="description" content="{{description}}" />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{title}}" />
  <meta property="og:image" content="{{image}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="358361197924828" />

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body class="bt-home-page">

</body>

<!-- <script async type="text/javascript" src="inline.10dbf0162d69ba456ee6.bundle.js"></script> -->
</html>
