<div class="container" style="margin-bottom: 20px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      Đăng ký
    </li>
  </ol>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h1>Đăng ký tài khoản</h1>
      <form role="form" #formData='ngForm' (ngSubmit)="signupByEmailAndPassword(formData)">
          <div class="form-group">
            <label class="control-label" for="inputUsernameEmail">Địa chỉ e-mail</label>
            <input type="text" class="form-control" id="inputUsersnameEmail" [(ngModel)]="user.email" name="email" required />
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Mật khẩu </label>
            <input type="password" class="form-control" id="inputPassword" [(ngModel)]="password" name="password" required />
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword2">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" id="inputPassword2" required />
          </div>
          <button type="submit" [disabled]="!formData.valid || showSpinner" class="btn btn-primary">
            Đăng ký
            <i *ngIf="showSpinner" style="margin-left: 5px" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </button>
        </form>
        <div class="alert alert-warning" role="alert" *ngIf="error" style="margin-top: 15px">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Warning!</strong> {{error}}
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="ty-account-benefits">
        <h4>Những lợi ích của thành viên:</h4>
        <ul>
          <li>Đăng nhập bất cứ lúc nào để kiểm tra trạng thái đơn hàng.</li>
          <li>Rất thuận lợi khi mua hàng.</li>
          <li>Được tham gia các chương trình khuyến mãi trên website.</li>
        </ul>
    </div>
  </div>
</div>
</div>
