<!-- <router-outlet></router-outlet>
<app-footer></app-footer> -->
<app-nav *ngIf="is_root" [default]="!is_root" [color]="colorRoot()" [background_color]="background_root()" [border_color]="border_color_root()"></app-nav>
<app-nav *ngIf="!is_root" [default]="!is_root" [color]="color()" [background_color]="background()" [border_color]="border_color()"></app-nav>
<div class="container">

</div>
<main role="main">

  <!-- /.container -->
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <app-footer [background_color]="defaultBackGround"></app-footer>

  <app-popup></app-popup>
</main>

<!-- Modal -->
<div class="modal fade" id="bookingInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-booking></app-booking>
</div>
