<div class="row " id="content_description">
  <div class="col-lg-8" *ngIf="blog">
    <section class="section section-blog-fw pb-3 wow fadeIn">

      <!--Grid row-->
      <div class="row">
        <div class="col-md-12">
          <h2>{{blog.title}}</h2>
          <!--Featured image-->
          <div style="margin-top:15px; margin-bottom:15px" [innerHTML]="blog.description"></div>
          <img src="{{blog.photoUrl}}" alt="{{blog.title}}" />
          <div class="text-center">
          </div>


          <!--Excerpt-->
          <div class="excerpt mt-5 wow fadeIn" data-wow-delay="0.3s">
            <div [innerHTML]="blog.content"></div>


            <div class="mt-4 d-flex justify-content-end">
              <span class="badge badge-pink">Travel</span>
              <span class="badge badge-primary mx-1">Adventure</span>
              <span class="badge badge-grey mr-1">Photography</span>
              <span class="badge badge-info">Education</span>
            </div>

          </div>
        </div>
      </div>
      <!--Grid row-->

    </section>
  </div>
  <div class="col-lg-4 hidden-xs">
    <app-recent-blogs></app-recent-blogs>
  </div>
</div>
<!--Section: Blog v.4-->
<!--Section: Blog v.4-->

<hr class="mb-5 mt-4">

<!--Section: Blog v.2-->
<section class="section extra-margins text-center pb-3 wow fadeIn" data-wow-delay="0.3s">

  <!--Section heading-->
  <h3 class="section-heading h3 pt-3">Recent posts</h3>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-r">

      <!--Card Light-->
      <div class="card">
        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20%28147%29.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body">
          <!--Social shares button-->
          <a class="activator"><i class="fa fa-share-alt"></i></a>
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="black-text d-flex flex-row-reverse">
            <h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5>
          </a>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card Light-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-r">

      <!--Card Light-->
      <div class="card">
        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20%2850%29.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body">
          <!--Social shares button-->
          <a class="activator"><i class="fa fa-share-alt"></i></a>
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="black-text d-flex flex-row-reverse">
            <h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5>
          </a>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card Light-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-r">

      <!--Card Light-->
      <div class="card">
        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20%2897%29.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body">
          <!--Social shares button-->
          <a class="activator"><i class="fa fa-share-alt"></i></a>
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <hr>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="black-text d-flex flex-row-reverse">
            <h5 class="waves-effect p-2">Read more <i class="fa fa-chevron-right"></i></h5>
          </a>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card Light-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Section: Blog v.2-->

<!--Author box-->
<section>

  <div class="author-box mt-5 py-4 wow fadeIn" data-wow-delay="0.3s">
    <!--Name-->
    <h4 class="section-heading h4 text-center">About author</h4>
    <hr>
    <div class="row">
      <!--Avatar-->
      <div class="col-12 col-sm-2">
        <img src="http://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="img-fluid rounded-circle z-depth-2">
      </div>
      <!--Author Data-->
      <div class=" col-12 col-sm-10 text-left">
        <p><strong>John Doe</strong></p>
        <div class="personal-sm">
          <a class="fb-ic"><i class="fa fa-facebook"> </i></a>
          <a class="tw-ic"><i class="fa fa-twitter"> </i></a>
          <a class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
          <a class="li-ic"><i class="fa fa-linkedin"> </i></a>
        </div>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
        <p class="hidden-md-down">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint esse nulla quia quam veniam commodi dicta, iusto inventore. Voluptatum pariatur eveniet ea, officiis vitae praesentium beatae quas libero, esse facere.
        </p>
      </div>
    </div>
  </div>

</section>
<!--/.Author box-->

<!--Section: Comments list-->
<section class="mb-4 pt-5 wow fadeIn" data-wow-delay="0.3s">

  <!--Main wrapper-->
  <div class="comments-list text-md-left text-center">
    <div class="section-heading">
      <h3 class="section-heading h3 pt-3 mb-5">Comments <span class="badge pink">3</span></h3>
    </div>
    <!--First row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (9).jpg">
      </div>
      <!--/.Image column-->

      <!--Content column-->
      <div class="col-sm-10 col-12">
        <a><h5 class="user-name font-bold">Tom Smith</h5></a>
        <div class="card-data">
          <ul class="list-unstyled">
            <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
          </ul>
        </div>
        <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
          non proident.</p>
      </div>
      <!--/.Content column-->

    </div>
    <!--/.First row-->

    <!--Second row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg">
      </div>
      <!--/.Image column-->

      <!--Content column-->
      <div class="col-sm-10 col-12">
        <a><h5 class="user-name font-bold">Marta Tev</h5></a>
        <div class="card-data">
          <ul class="list-unstyled">
            <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
          </ul>
        </div>
        <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
          quia voluptas sit aspernatur.</p>
      </div>
      <!--/.Content column-->

    </div>
    <!--/.Second row-->

    <!--Third row-->
    <div class="row">

      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (10).jpg">
      </div>
      <!--/.Image column-->
      <!--Content column-->
      <div class="col-sm-10 col-12">
        <a><h5 class="user-name font-bold">Anna Maria</h5></a>
        <div class="card-data">
          <ul class="list-unstyled">
            <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
          </ul>
        </div>
        <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
        </p>
      </div>
      <!--/.Content column-->
    </div>
    <!--/.Third row-->
  </div>
  <!--/.Main wrapper-->

</section>
<!--/Section: Comments list-->


<!--Section: Leave a reply (Logged In User)-->
<section class="pb-5 mt-5 wow fadeIn" data-wow-delay="0.3s">

  <!--Leave a reply form-->
  <div class="reply-form">
    <h3 class="section-heading h3 pt-3">Leave a reply </h3>
    <p class="text-center">(Logged In User)</p>

    <!--Third row-->
    <div class="row">
      <!--Image column-->
      <div class="col-sm-2 col-12">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (32).jpg" alt="Sample avatar image">
      </div>
      <!--/.Image column-->

      <!--Content column-->
      <div class="col-sm-10 col-12">
        <div class="md-form">
          <textarea type="text" id="form-mess" class="md-textarea"></textarea>
          <label for="form-mess">Your message</label>
        </div>

      </div>

      <div class="col-md-12 text-center">
        <button class="btn btn-pink btn-rounded">Submit</button>
      </div>
      <!--/.Content column-->

    </div>
    <!--/.Third row-->
  </div>
  <!--/.Leave a reply form-->

</section>
<!--/Section: Leave a reply (Logged In User)-->


<style>
  .card.card-cascade.wider {
    background-color: transparent;
  }

  @media (max-width:767px) {
    :host ::ng-deep #content_description img {
      width: 100%;
      max-width: 500px;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
    }
  }

  @media (min-width:767px) {
    :host ::ng-deep #content_description img {
      width: 100%;
      max-width: 500px;
      margin-left: 25%;
      margin-right: 25%;
      text-align: center;
    }
  }

  .card.card-cascade.wider,
  .colorful-select .dropdown-content li.disabled a:hover,
  .colorful-select .dropdown-content li.disabled span:hover,
  .colorful-select .dropdown-content li.disabled.active span,
  .colorful-select .dropdown-content li.optgroup a:hover,
  .colorful-select .dropdown-content li.optgroup span:hover,
  .colorful-select .dropdown-content li.optgroup.active span,
  .colorful-select .dropdown-content li:disabled a:hover,
  .colorful-select .dropdown-content li:disabled span:hover,
  .colorful-select .dropdown-content li:disabled.active span,
  .modal-dialog.cascading-modal.modal-avatar .modal-header,
  .z-depth-0 {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: none;
  }

  .card.card-cascade.wider .view {
    z-index: 2;
  }

  .card.card-cascade .view {
    border-radius: 4px;
  }

  .btn-floating:hover,
  .card-overlay,
  .card.card-cascade .view,
  .colorful-select .dropdown-content li a:hover,
  .colorful-select .dropdown-content li span:hover,
  .comments-list img,
  .modal-dialog.cascading-modal.modal-avatar .modal-header img,
  .reply-form img,
  .testimonial-carousel .testimonial .avatar img,
  .z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  }

  .btn-floating,
  .btn-floating.btn-flat.active,
  .btn:active,
  .btn:focus,
  .btn:hover,
  .card.card-cascade.card-avatar img,
  .card.card-cascade.wider.reverse .card-body,
  .colorful-select .dropdown-content li.active span,
  .comments-list .badge,
  .dropdown .dropdown-menu .dropdown-item:active,
  .dropdown .dropdown-menu .dropdown-item:hover,
  .form-header,
  .md-pills .nav-link.active:hover,
  .media .media-left img,
  .modal-dialog .modal-content,
  .modal-dialog.cascading-modal .modal-header,
  .nav-tabs,
  .picker__box .picker__table .picker--focused,
  .picker__box .picker__table .picker__day--selected,
  .picker__box .picker__table .picker__day--selected:hover,
  .pricing-card .header,
  .reply-form .badge,
  .z-depth-1-half,
  ul.instagram-photos li img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }

  .card.card-cascade.wider .card-body {
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 1;
    border-radius: 0 0 .3rem .3rem;
  }

  .card.card-cascade.wider.reverse .card-body {
    z-index: 3;
    margin-top: -1rem;
    border-radius: 4px;
  }

  .section-blog-fw .view img {
    border-radius: 2px;
  }

  .comments-list img,
  .img-fluid,
  .modal-dialog.cascading-modal.modal-avatar .modal-header,
  .reply-form img,
  .section-blog-fw .view img {
    max-width: 100%;
    height: auto;
  }

  .author-box,
  .comments-section {
    margin-bottom: 2rem;
  }

  .author-box {
    padding: 3rem;
  }

  .author-box,
  .jumbotron {
    background-color: #fff;
    padding: 2rem;
  }

  #toast-container>div,
  .author-box,
  .badge,
  .btn,
  .btn-primary.active:not([disabled]):not(.disabled),
  .btn-primary:not([disabled]):not(.disabled):active,
  .card-wrapper .back,
  .card-wrapper .front,
  .card.card-cascade.wider .card-body,
  .card:not([class*=card-outline-]),
  .chip,
  .counter,
  .dropdown-content,
  .jumbotron,
  .md-pills .nav-link.active,
  .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
  .modal-dialog.modal-notify .modal-header,
  .navbar,
  .pagination .active .page-link,
  .pricing-card .price .version,
  .section-blog-fw .view,
  .show>.btn-primary.dropdown-toggle,
  .side-nav,
  .social-list,
  .z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }

  .section-blog-fw .author-box,
  .section-blog-fw .jumbotron,
  .section-heading {
    text-align: center;
  }

  .comments-list img,
  .reply-form img {
    max-width: 100px;
    border-radius: 50%;
  }

  textarea.md-textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    min-height: 3rem;
  }

  input[type=date],
  input[type=datetime-local],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=search-md],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  textarea.md-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    outline: 0;
    height: 2.1rem;
    width: 100%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .counter {
    position: absolute;
    margin-left: -23px;
    margin-top: -1px;
    background-color: #fe1212;
    color: #fff;
    padding: 1px 7px;
    font-size: 11px;
    z-index: 2;
    border-radius: 10rem;
  }
</style>
