<div [className]="showMenuMobile">
  <div class="bt-mobile">
    <div class="container" style="width: 90%; height: 400px">
      <div class="menu_mobile">
        <a class="closeMenuBar" (click)="closeMenuBar()"><i class="fa fa-times-circle fa-3x closeM"></i></a>
        <div class="logged-link" *ngIf="user">
          {{user.email}}
        </div>
        <div class="logged-link" *ngIf="!user">
          <a (click)="routeLink('/chi-tiet')"><i class="fa fa-sign-in"></i><span>Đăng nhập</span></a>
          <a (click)="routeLink('/chi-tiet')"><i class="fa fa-hand-o-up"></i><span>Đăng ký</span></a>
        </div>
        <div class="menubar">
          <div class="container">
            <div class="bt_mainmenu">
              <div class="row">
                <nav class="mega-menu">
                  <ul class="navbar-nav nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" (click)="routeLink('/detail')">Phụ kiện Apple</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="routeLink('/detail')">Phụ kiện Samsung</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="routeLink('/detail')">Phụ kiện Samsung</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="routeLink('/detail')">Phụ kiện Samsung</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="routeLink('/detail')">Phụ kiện Samsung</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" (click)="routeLink('/detail')">Phụ kiện Samsung</a>
                    </li>
                    <li class="nav-item dropdown">

                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đồ chơi di động</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown10">
                        <a class="dropdown-item" (click)="routeLink('/detail')">Action</a>
                        <a class="dropdown-item" (click)="routeLink('/detail')">Another action</a>
                        <a class="dropdown-item" (click)="routeLink('/detail')">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">

                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Đồ chơi di động</a>
                      <div class="dropdown-menu" aria-labelledby="dropdown10">
                        <a class="dropdown-item" (click)="routeLink('/detail')">Action</a>
                        <a class="dropdown-item" (click)="routeLink('/detail')">Another action</a>
                        <a class="dropdown-item" (click)="routeLink('/detail')">Something else here</a>
                      </div>
                    </li>
                  </ul>
                </nav>
                <!-- /.mega-menu -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tygh-top-panel clearfix hidden-xl" [ngClass]="{'invisible': !default }" >
    <div class="container top-grid hidden-top">
      <div class="row">
        <div class="span4 col-lg-2">
          <div class="ty-float-left">
            <div class="ty_hotline_right">
              HOTLINE: <strong>+1900 63 64 60</strong>
            </div>
          </div>
        </div>
        <div class="span12 top-links-grid col-lg-10">
          <div class=" new_top_account ty-float-right">
            <div class="logged-link" *ngIf="user">
              {{user.email}}
            </div>
            <div class="logged-link" *ngIf="!user">
              <a (click)="routeLink('/dang-nhap')"><i class="fa fa-sign-in"></i><span>Đăng nhập</span></a>
              <a (click)="routeLink('/dang-ky')"><i class="fa fa-hand-o-up"></i><span>Đăng ký</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div [ngClass]="{'full-cover': !default }" class="full-cover-background">
    <div class="container">
      <div class="row min-heigh-100">
        <div class="min-heigh-100" style="padding-top: 5px; padding-bottom: 5px;display: inline-flex; width:300px">
          <a [routerLink]="['/']" style="width: 100%; height: 100%; ">
            <div *ngIf="!default" class="logo logo_ved"></div>
            <div *ngIf="default" class="logo_bg logo_ved"></div>
          </a>
          <div class="menu-bar visible-xl" (click)="showMenuBar()">
            <span><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span>
            <span class="hide-small" style="font-size: 25px;">MENU</span>
          </div>
        </div>
        <div class="col-lg-6 hidden-xl">
          <div id="boss-search" class="fourteen columns omega" style="display: -webkit-inline-box; width: 100%; padding-top: 25px">
            <div class="search-form" style="width: 60%">
              <div id="search" class="input-group">
                <input type="text" #searchF name="search" (keyup.enter)="search(searchF.value)" [ngClass]="{'color-white': !default }" [ngStyle]="{ 'border-color': border_color }" value="" placeholder="Tìm kiếm sản phẩm..." class="form-control">
              </div>
            </div>
            <div class="choose-select" style="width:40%">
              <div class="input_cat" [ngStyle]="{'border-color': border_color }">
                <select name="filter_category_id" id="boss_filter_search" [ngClass]="{'color-white': !default }">
                <option value="all" selected="selected">Tất cả danh mục</option>
                <option *ngFor="let category of categories" value="category.slug">{{category.name}}</option>
              </select>
                <span class="input-group-btn">
                  <button type="button" (click)="search(searchF.value)" style="height: 46px; margin: 1px;" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 visible-xl">
          <div id="boss-search" class="fourteen columns omega" style="display: -webkit-inline-box; width: 100%; padding-top: 25px">
            <div class="search-form input_cat" style="width: 100%">
              <div id="search" class="input-group ">
                <input type="text" #searchF name="search" (keyup.enter)="search(searchF.value)" [ngClass]="{'color-white': !default }" [ngStyle]="{ 'border-color': border_color }" value="" placeholder="Tìm kiếm sản phẩm..." class="form-control">
              </div>
              <span class="input-group-btn">
                <button type="button" (click)="search(searchF.value)" style="height: 48px; margin: 1px;" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
              </span>
            </div>

          </div>
        </div>
        <div class="col-lg-2 hidden-xl">
          <div class="sp_khuyenmai_icon"> <a [routerLink]="['/giam-gia']" title="Sản phẩm Khuyến mãi"> <span class="khuyenmai_bg">110</span> <span class="khuyenmai_title" [ngClass]="{'color-white': !default }">SP Khuyến mãi</span> </a></div>
        </div>
      </div>
    </div>

    <header>
      <nav class="navbar navbar-expand-md customNav hidden-xl" [ngClass]="{'fixed-top fixed-theme': fixed }" [ngStyle]="{ 'color': color, 'background-color': background_color }">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">

          <div class="collapse navbar-collapse navbar-inner" id="navbarsExample">

            <ul class="navbar-nav nav nav-mega" [ngClass]="{'font-color-black': default }">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phụ kiện di động</a>
                <div class="container">
                  <ul class="dropdown-menu mega-menu " style="background: transparent; border: none">
                    <li>
                      <div class="row-fluid container" style="margin-top: 5px;">
                        <div class="span8" [ngClass]="{'background-with-color': fixed }" [ngStyle]="{ 'color': color, 'background-color': background_color }" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); z-index:30">
                          <div class="row-fluid" style="    padding: 10px;">
                            <ul class="media-list span6" style="display: inline-flex;">
                              <li class="media" *ngFor="let category of categories">
                                <div class="media-body">
                                  <h5 class="media-heading"><a [routerLink]="['/danh-muc', category.slug]">{{category.name}}</a></h5>
                                  <ul class="unstyled" style="margin-left: -30px;">
                                    <li *ngFor="let sub of category.categories"><a [ngStyle]="{ 'color': color }" [routerLink]="['/danh-muc', sub.slug]">{{sub.name}}</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Đồ chơi công nghệ</a>
                <div class="container">
                  <ul class="dropdown-menu mega-menu " style="background: transparent; border: none">
                    <li>
                      <div class="row-fluid container" style="margin-top: 5px;">
                        <div class="span8" [ngClass]="{'background-with-color': fixed }" [ngStyle]="{ 'color': color, 'background-color': background_color }" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); z-index:30">
                          <div class="row-fluid" style="    padding: 10px;">
                            <ul class="media-list span6" style="display: inline-flex;">
                              <li class="media" *ngFor="let category of categories">
                                <div class="media-body">
                                  <h5 class="media-heading"><a [routerLink]="['/danh-muc', category.slug]">{{category.name}}</a></h5>
                                  <ul class="unstyled" style="margin-left: -30px;">
                                    <li *ngFor="let sub of category.categories"><a [ngStyle]="{ 'color': color }" [routerLink]="['/danh-muc', sub.slug]">{{sub.name}}</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phụ kiện khác</a>
                <div class="container">
                  <ul class="dropdown-menu mega-menu " style="background: transparent; border: none">
                    <li>
                      <div class="row-fluid container" style="margin-top: 5px;">
                        <div class="span8" [ngClass]="{'background-with-color': fixed }" [ngStyle]="{ 'color': color, 'background-color': background_color }" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); z-index:30">
                          <div class="row-fluid" style="    padding: 10px;">
                            <ul class="media-list span6" style="display: inline-flex;">
                              <li class="media" *ngFor="let category of categories">
                                <div class="media-body">
                                  <h5 class="media-heading"><a [routerLink]="['/danh-muc', category.slug]">{{category.name}}</a></h5>
                                  <ul class="unstyled" style="margin-left: -30px;">
                                    <li *ngFor="let sub of category.categories"><a [ngStyle]="{ 'color': color }" [routerLink]="['/danh-muc', sub.slug]">{{sub.name}}</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>

                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>

  <style>
    .background-with-color,
    .fixed-top.fixed-theme {
      background-color: #fec909!important
    }

    .navbar-brand {
      font-size: 24px
    }

    .navbar-container {
      padding: 20px 0
    }

    .fixed-top.fixed-theme {
      border-color: #080808;
      opacity: 1
    }

    .fix-theme .navbar-nav .nav-item .nav-link {
      color: #000!important
    }

    #navbarsExample .nav-link a,
    #navbarsExample .nav-link a:hover,
    .nav-link {
      color: #fff
    }

    .navbar-brand.fixed-theme {
      font-size: 18px
    }

    .navbar-brand,
    .navbar-brand.fixed-theme,
    .navbar-container,
    .navbar-container.fixed-theme,
    .navbar.fixed-theme,
    .navbar.navbar-fixed-top.fixed-theme {
      transition: .8s;
      -webkit-transition: .8s
    }

    .bt-mobile {
      display: block;
      background: #343434;
      height: auto;
      left: -90%;
      position: absolute;
      top: 0;
      width: 90%;
      margin-bottom: 0;
      border: none;
      float: right;
      padding: 50px 0 80px;
      text-align: center;
      min-height: 800px
    }

    .openNav:before {
      background: #000;
      content: "";
      height: 100%;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 999
    }

    .openNav .bt-mobile {
      z-index: 999;
      transform: translate3d(100%, 0, 0);
      -moz-transform: translate3d(100%, 0, 0);
      -webkit-transform: translate3d(100%, 0, 0);
      transition: transform .5s ease 0s;
      -moz-transition: -moz-transform .5s ease 0s;
      -webkit-transition: -webkit-transform .5s ease 0s
    }

    .closeNav .bt-mobile {
      z-index: 999;
      transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transition: transform .5s ease 0s;
      -moz-transition: -moz-transform .5s ease 0s;
      -webkit-transition: -webkit-transform .5s ease 0s
    }

    #navbarsExample .nav-item {
      border-right: 1px solid #eee
    }

    #navbarsExample .nav-item:hover {
      text-decoration-color: #fff
    }

    .customNav {
      background-color: #343a40;
      opacity: 1;
      padding: 0
    }

    .dropdown-menu {
      opacity: 1
    }

    .nav-link {
      padding: .8rem 2rem;
      font-size: 13px;
      text-transform: uppercase
    }

    .font-color-black .nav-link {
      color: #000
    }

    .font-color-black .nav-link:hover {
      color: #fff
    }

    #boss-search .choose-select .input_cat {
      border-style: solid;
      border-color: #fff;
      border-width: 1px;
      min-width: 130px;
      height: 50px;
      line-height: 46px;
      padding: 0;
      position: relative;
      border-radius: 0 25px 25px 0
    }

    #boss-search .choose-select .input_cat .sbSelector {
      padding-left: 20px;
      padding-right: 20px;
      color: #000
    }

    #boss-search .choose-select .input_cat .sbToggle {
      height: 14px;
      position: absolute;
      right: 25px;
      top: 18px;
      width: 14px
    }

    #boss-search .choose-select .sbHolder {
      position: relative;
      width: 100%
    }

    #boss-search .choose-select .sbOptions {
      background: #000;
      border: 1px solid #fff;
      left: 0;
      margin: 0 0 0 -1px;
      min-height: 150px;
      overflow: auto;
      padding: 0 0 10px;
      position: absolute;
      top: 48px!important;
      width: 100%;
      z-index: 1;
      min-width: 200px
    }

    .color-white {
      color: #fff
    }

    .color-black {
      color: #000
    }

    .closeM,
    .menu_mobile a:hover,
    select option {
      color: #fff
    }

    select option {
      margin: 40px;
      background: rgba(0, 0, 0, .3);
      text-shadow: 0 1px 0 rgba(0, 0, 0, .4)
    }

    select {
      -webkit-appearance: none;
      padding-left: 10px
    }

    #boss-search .choose-select .sbOptions>li {
      padding: 0 6px 0 25px;
      line-height: 22px
    }

    #boss-search .choose-select>div select,
    #search .form-control {
      height: 50px;
      line-height: 46px;
      border: none;
      outline: 0;
      font-size: 14px;
      font-weight: 100;
      background-color: transparent
    }

    .menu-bar {
      margin-top: 15px;
      position: absolute;
      top: 35px;
      right: 15px;
      outline: 0;
    }

    .closeMenuBar {
      position: absolute;
      top: 2px;
      right: 2px
    }

    .closeM:hover {
      color: #e8f0f9
    }

    #search {
      position: static
    }

    .input_cat .input-group-btn {
      width: 65px;
      position: absolute;
      top: 0;
      right: 0
    }

    #search .btn .fa {
      vertical-align: top;
      line-height: 50px;
      font-size: 18px
    }

    @media (max-width:767px) {
      .full-cover {
        background-color: #fec909;
        width: 100%;
        z-index: 1
      }

      .full-cover-background {
        background-color: #fec909;
      }

      .logo {
        background: url(/assets/images/logo-pkgr.png) center center no-repeat !important;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain !important;
      }

      #search .form-control {
        border-style: solid;
        border-color: #fff;
        border-width: 1px;
        width: 100%;
        padding: 0 20px;
        font-size: 15px;
        border-radius: 25px 25px 25px 25px;
        -webkit-border-radius: 25px 25px 25px 25px;
        -moz-border-radius: 25px 25px 25px 25px;
      }

      .input_cat .btn {
        border: none;
        padding: 0 20px;
        color: #fff;
        height: 48px;
        right: 12px;
        z-index: 2;
        margin: 1px 2px 1px 1px;
        -webkit-border-radius: 0 2px 2px 0;
        -moz-border-radius: 0 2px 2px 0;
        background: #262324;
        opacity: .8;
        border-radius: 0 25px 25px 0;
      }

      .input-group input {
        border-color: white !important;
      }
    }

    @media (min-width:767px) {
      .full-cover {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1
      }

      #search .form-control {
        border-style: solid;
        border-color: #fff;
        border-width: 1px;
        width: 100%;
        padding: 0 20px;
        font-size: 15px;
        border-radius: 25px 0 0 25px;
        -webkit-border-radius: 25px 0 0 25px;
        -moz-border-radius: 2px 0 0 2px
      }

      .input_cat .btn {
        border: none;
        padding: 0 22px;
        color: #fff;
        height: 48px;
        z-index: 2;
        margin: 1px 2px 1px 1px;
        -webkit-border-radius: 0 2px 2px 0;
        -moz-border-radius: 0 2px 2px 0;
        background: #262324;
        opacity: .8;
        border-radius: 0 25px 25px 0
      }
    }

    #search .form-control::-webkit-input-placeholder {
      color: #797979
    }

    #search .form-control:-moz-placeholder {
      color: #797979
    }

    #search .form-control::-moz-placeholder {
      color: #797979
    }

    #search .form-control:-ms-input-placeholder {
      color: #797979
    }

    .min-heigh-100 {
      min-height: 100px
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      .logo,
      .logo_bg {
        width: 100%;
        height: 100%
      }
      .love_bg,
      .sale_bg {
        display: inline-block;
        position: relative
      }
      .logo {
        background: url(/assets/images/logo.webp) center center no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain
      }
      .logo_bg {
        background: url(/assets/images/logo-pkgr.webp) center center no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain
      }
      .love_bg {
        background: url(/assets/images/icon_new2017.webp) -77px 16px no-repeat #fff;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 5px
      }
      .sale_bg {
        background: url(/assets/images/icon_new2017.webp) -306px -76px no-repeat;
        width: 58px;
        height: 65px;
        font-size: 0
      }
    }

    @-moz-document url-prefix() {
      .ax,
      .logo_bg {
        background: url(/assets/images/logo-pkgr.png) center center no-repeat
      }
      .logo,
      .logo_bg {
        width: 100%;
        height: 100%
      }
      .love_bg,
      .sale_bg {
        display: inline-block;
        position: relative
      }
      select {
        -moz-appearance: none
      }
      .logo_bg {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain
      }
      .logo {
        background: url(/assets/images/logo.png) center center no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain
      }
      .love_bg {
        background: url(/assets/images/icon_new2017.png) -77px 16px no-repeat #fff;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-top: 5px
      }
      .sale_bg {
        background: url(/assets/images/icon_new2017.png) -306px -76px no-repeat;
        width: 58px;
        height: 65px;
        font-size: 0
      }
    }

    .bt-mobile .logged-link {
      border-top: 1px solid #444;
      position: relative;
      padding: 40px 0;
      overflow: hidden
    }

    .bt-mobile .logged-link:before {
      content: "";
      border-left: 1px solid #444;
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
      position: absolute
    }

    .bt-mobile .logged-link>a {
      color: #fffefe;
      text-transform: capitalize;
      display: block;
      transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -webkit-transition: all .5s ease 0s;
      float: left;
      width: 50%
    }

    .bt-mobile .logged-link>a i {
      display: block;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      vertical-align: top;
      line-height: 40px;
      color: #3d3b48;
      margin-bottom: 12px;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
      transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -webkit-transition: all .5s ease 0s
    }

    .boss-new-position .menu,
    .nav-heading {
      display: none
    }

    .bt-mobile .logged-link>a:hover,
    .bt-mobile .logged-link>a:hover i {
      color: #4dbeee
    }

    .menubar {
      float: none;
      margin-right: 0;
      padding-top: 0
    }

    .right-to-left .menubar {
      margin-left: 0
    }

    .mega-menu {
      width: 100%
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
      background: 0 0
    }

    .mega-menu>ul.nav {
      background: #343434
    }

    .mega-menu>ul.nav>li {
      clear: both;
      display: block;
      float: none;
      margin: 0;
      padding: 0;
      text-align: left;
      background: #343434;
      border-top: 1px solid #444
    }

    .mega-menu>ul.nav>li .dropdown .menu-row ul li .sub_menu,
    .mega-menu>ul.nav>li>a i {
      display: none
    }

    .mega-menu>ul.nav>li>a {
      border: none;
      color: #fff
    }

    .mega-menu>ul.nav>li.active>a,
    .mega-menu>ul.nav>li:hover>a,
    .mega-menu>ul.nav>li>a:focus,
    .mega-menu>ul.nav>li>a:hover {
      color: #fff
    }

    .mega-menu>ul.nav>li:hover>a {
      border: none;
      border-radius: 0
    }

    .mega-menu>ul.nav>li.parent:hover>a b {
      background-image: none
    }

    .mega-menu ul.nav>li.parent>a span.menu-title {
      background: 0 0
    }

    .mega-menu>ul.nav>li p.plus {
      color: #fff;
      cursor: pointer;
      height: 28px;
      margin-top: 0;
      padding-bottom: 1px;
      padding-top: 3px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 5px;
      width: 40px;
      font-size: 22px;
      line-height: 24px;
      z-index: 999
    }

    .mega-menu>ul.nav>li .dropdown {
      border: none;
      box-shadow: none;
      margin-left: 0!important;
      opacity: 1;
      position: static;
      visibility: visible;
      width: 100%!important;
      transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform-origin: top center;
      -moz-transform-origin: top center;
      -webkit-transform-origin: top center;
      display: none
    }

    .mega-menu>ul.nav>li .dropdown .staticblock {
      padding-left: 10px
    }

    .mega-menu>ul.nav>li .dropdown ul.column.product li {
      text-align: center
    }

    .mega-menu>ul.nav>li .dropdown ul.column.product li .name {
      background-position: center bottom
    }

    .mega-menu>ul.nav>li .dropdown ul.column.manufacturer li {
      width: 100%!important;
      text-align: center;
      padding-left: 10px
    }

    .mega-menu>ul.nav>li .dropdown .menu-column.row-grid-2:first-child {
      border-right: none;
      padding-bottom: 20px
    }

    .common-home .mega-menu>ul.nav>li:first-child>a,
    .mega-menu>ul.nav>li:first-child>a,
    .mega-menu>ul.nav>li>a {
      padding-left: 20px
    }

    .common-home .mega-menu>ul.nav>li>a,
    .mega-menu>ul.nav>li>a {
      padding: 15px 20px
    }

    .mega-menu .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
      background: 0 0;
      color: #4dbeee
    }

    .mega-menu>ul.nav>li .dropdown .menu-column {
      width: 100%!important;
      margin-bottom: 10px;
      padding: 28px 20px 20px
    }

    .mega-menu>ul.nav>li .menu-row .menu-column .staticblock {
      padding-left: 0
    }

    .mega-menu>ul.nav>li .dropdown .menu-column.row-grid-2:first-child .staticblock {
      padding-right: 0
    }

    .mega-menu>ul.nav>li .dropdown.drop-grid-6-6 .menu-column ul.column.information {
      padding-top: 0
    }

    .mega-menu>ul.nav>li .dropdown .menu-row.row-col-6 .menu-column.row-grid-1+.menu-column {
      padding: 28px 20px 20px
    }

    .tygh-top-panel {
      background-color: #fec909;
      padding: 0;
      height: 40px;
      box-shadow: 0px 2px 0px rgba(238, 238, 238, 0.5);
    }

    .ty-float-left {
      float: left;
    }

    .ty_hotline_right {
      margin-top: 9px;
      font-size: 13px;
      color: #262324;
    }

    .new_top_account {
      margin-top: 6px;
      position: relative;
      padding-left: 25px;
    }

    .ty-float-right {
      float: right;
    }

    .sp_khuyenmai_icon {
      text-align: center;
      display: inline-block;
      margin-top: -12px;
    }

    span.khuyenmai_bg {
      background: url(/assets/images/icon_new2017.png) no-repeat -306px -76px;
      width: 58px;
      height: 65px;
      font-size: 0;
      display: inline-block;
      position: relative;
    }

    .khuyenmai_title {
      display: block;
      text-align: center;
      margin-top: 2px;
    }
  </style>
