body {
  padding: 3%;
}

.nav-mega {
  width: 100%;
}

.nav-mega .dropdown {
  position: static;
}

.nav-mega .dropdown-menu.mega-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  min-width: auto;
  width: 100%;
  margin-top: 0;
  padding: 0;
  border-color: #ccc;
}

.nav-mega .dropdown-menu.mega-menu .media-list .media {
  padding: 10px;
  font-size: 13px;
}

.nav-mega .dropdown-menu.mega-menu .media-list .media-heading {
  font-size: 16px;
}

.unstyled li {
  width: 200px;
  list-style: none;
}

a:hover {
  background-color: none;
  text-decoration: none;
}
