<div class="row">
  <div class="container">
    <ul id="tabsJustified" class="nav nav-tabs">
      <li class="nav-item" ><a href="" data-target="#home1" data-toggle="tab" class="nav-link small text-uppercase active">Tin khuyến mãi</a></li>
      <li class="nav-item" ><a href="" data-target="#profile1" data-toggle="tab" class="nav-link small text-uppercase ">Tin công nghệ</a></li>
      <li class="nav-item" ><a href="" data-target="#messages1" data-toggle="tab" class="nav-link small text-uppercase">Review sản phẩm</a></li>
      <li class="nav-item" ><a href="" data-target="#messages2" data-toggle="tab" class="nav-link small text-uppercase">Mẹo hay</a></li>
    </ul>
  </div>

  <div class="col-lg-8">

    <section class="container categories-news">
      <div class="row">
        <div class="col-md-12">
          <br>
          <div id="tabsJustifiedContent" class="tab-content">
            <div id="home1" class="tab-pane fade active show">
              <h1 class="ty-mainbox-title"> Tin khuyến mãi <a class="rss-feed cm-no-ajax" style=" top: 10px; right: 0; " >
                <img src="https://phukiengiare.com/images/rss.png"></a> </h1>

                <div class="list-news list-top1" *ngFor="let blog of blogs | async">
                  <h3><a [routerLink]="['/tin-tuc', blog.slug]" title="{{blog.title}}">{{blog.title}}</a></h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <a [routerLink]="['/tin-tuc', blog.slug]" ><img class="ty-pict " src="{{blog.photoUrl}}" alt="{{blog.title}}" title="{{blog.title}}" width="350" height="274"></a>
                    </div>
                    <div class="col-lg-6">
                      <div class="ty-hidden" [innerHTML]="blog.description"></div><div class="clear_list_hr"></div></div>
                      </div>
                  </div>
            </div>
            <div id="profile1" class="tab-pane fade ">
              <h1 class="ty-mainbox-title"> Tin công nghệ<a class="rss-feed cm-no-ajax" style=" top: 10px; right: 0; " ><img src="https://phukiengiare.com/images/rss.png"></a> </h1>

              <div class="list-news list-top1" *ngFor="let blog of blogs | async">
                <h3><a [routerLink]="['/tin-tuc', blog.slug]" title="{{blog.title}}">{{blog.title}}</a></h3>
                <div class="row">
                  <div class="col-lg-6">
                    <a [routerLink]="['/tin-tuc', blog.slug]" ><img class="ty-pict " src="{{blog.photoUrl}}" alt="{{blog.title}}" title="{{blog.title}}" width="350" height="274"></a>
                  </div>
                  <div class="col-lg-6">
                    <div class="ty-hidden" [innerHTML]="blog.description"></div><div class="clear_list_hr"></div></div>
                    </div>
                </div>
            </div>
            <div id="messages1" class="tab-pane fade">
              <h1 class="ty-mainbox-title"> REVIEW SẢN PHẨM<a class="rss-feed cm-no-ajax" style=" top: 10px; right: 0; " ><img src="https://phukiengiare.com/images/rss.png"></a> </h1>

              <div class="list-news list-top1" *ngFor="let blog of blogs | async">
                <h3><a [routerLink]="['/tin-tuc', blog.slug]" title="{{blog.title}}">{{blog.title}}</a></h3>
                <div class="row">
                  <div class="col-lg-6">
                    <a [routerLink]="['/tin-tuc', blog.slug]" ><img class="ty-pict " src="{{blog.photoUrl}}" alt="{{blog.title}}" title="{{blog.title}}" width="350" height="274"></a>
                  </div>
                  <div class="col-lg-6">
                    <div class="ty-hidden" [innerHTML]="blog.description"></div><div class="clear_list_hr"></div></div>
                    </div>
                </div>
            </div>
            <div id="messages2" class="tab-pane fade">
              <h1 class="ty-mainbox-title"> MẸO HAY<a class="rss-feed cm-no-ajax" style=" top: 10px; right: 0; " ><img src="https://phukiengiare.com/images/rss.png"></a> </h1>

              <div class="list-news list-top1" *ngFor="let blog of blogs | async">
                <h3><a [routerLink]="['/tin-tuc', blog.slug]" title="{{blog.title}}">{{blog.title}}</a></h3>
                <div class="row">
                  <div class="col-lg-6">
                    <a [routerLink]="['/tin-tuc', blog.slug]" ><img class="ty-pict " src="{{blog.photoUrl}}" alt="{{blog.title}}" title="{{blog.title}}" width="350" height="274"></a>
                  </div>
                  <div class="col-lg-6">
                    <div class="ty-hidden" [innerHTML]="blog.description"></div><div class="clear_list_hr"></div></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="col-lg-4 hidden-xs" style="margin-top: 40px">
    <app-recent-blogs></app-recent-blogs>
  </div>
</div>

<style>
  .background-image {
    min-height: 300px;
  }

  .blog-list-item {
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 992px) {
    .blog-list-item {
      min-height: 300px;
      height: auto;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }

  #tabsJustified {
    border: 1px solid #ccc;
    margin-right: 0;
    overflow: hidden;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(top,#fff,#f0f0f0);
    background-image: -ms-linear-gradient(top,#fff,#f0f0f0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#F0F0F0));
    background-image: -webkit-linear-gradient(top,#FFF,#F0F0F0);
    background-image: -o-linear-gradient(top,#fff,#f0f0f0);
    background-image: linear-gradient(top,#fff,#f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0f0f0',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #f2f2f2;
    border-bottom-color: #d2d2d2;
    border-radius: 3px;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
     /*color: #495057; */
    /*background-color: #fec909;*/
    background: #FFA500;
    color: #111;
    text-shadow: none;
    /*padding: 5px 10px;*/
    border-radius: 3px;
     /*border-color: #ddd #ddd #fff; */
}

.nav-tabs .nav-link {
    /*border-radius: 0px;*/
    margin: 5px;
    /*border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;*/
}
.categories-news h1 {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-bottom: 5px;
    margin: 6px 0 20px;
    color: #000;
}
.list-news {
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.list-news .ty-hidden {
    line-height: 27px;
    font-size: 16px;
    color: #666;
}
</style>
