<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/']">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/tin-tuc']">Tin khuyến mãi</a>
    </li>
    <li class="breadcrumb-item">
      Tin khuyến mãi
    </li>
  </ol>
  <router-outlet></router-outlet>
</div>
<style>
  .breadcrumb {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: transparent;
  }

  .breadcrumb,
  .pagination {
    border-radius: .25rem;
    list-style: none;
  }
</style>
