@import "~bootstrap/dist/css/bootstrap.min.css";
/*General*/

.background-default {
  background-color: #fec909;
}

a {
  cursor: pointer;
}

.h3, h3 {
  font-size: 1.15rem;
  line-height: 40px;
}

.h4, h4 {
  font-size: 1.2rem;
}

.h5, h5 {
  font-size: 1rem;
}

textarea:focus, input:focus {
  outline: none;
  box-shadow: none;
}

input {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
}

*:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important;
}

button {
  outline: none;
  cursor: pointer;
}

/*.container {
  max-width: none;
  padding-left: 8%;
  padding-right: 8%;
}*/

/*
.product-resposive {
  padding-right: 5%;
}*/

/*.product-resposive {
  height: 500px;
}

.product-resposive-md {
  height: 450px;
}*/

/*Reponsive*/

@media (max-width:767px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
    visibility: visible !important ;
  }
}

@media (max-width: 992px) {
  .hidden-xl {
    display: none!important
  }
  .visible-xl {
    display: block !important;
  }
  #boss-search {
    padding-top: 0px !important;
    margin-bottom: 5px;
  }
}

.visible-xl {
  display: none;
}

.visible-xs {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

@media screen and (min-width: 992px) and (max-width: 1270px) {
  .mainImage {
    height: 55% !important;
  }
}

.visible-sm {
  display: none;
}

@media screen and (min-width: 576px) and (max-width: 1240px) {
  .visible-sm {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 770px) {
  .mainImage {
    height: 20% !important;
  }
  .mainImage {
    height: 30% !important;
  }
  .image-additional {
    padding: 0px !important;
  }
}

@media screen and (max-width: 375px) {
  .logo_ved {
    /*margin-left: 10%;*/
  }
  .mainImage {
    height: 40% !important;
  }

  .hide-small {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  .product-resposive {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
  }
  .product-resposive-md {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  .product-resposive-md {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  .product-resposive-md {
    max-width: 25%;
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 535px) {
  .container {
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  .product-resposive-md {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;
  }
  .product-resposive {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1370px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) and (max-width: 1370) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1372px) and (max-width: 1750px) {
  .container {
    max-width: none;
    padding-left: 10%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 1750px) {
  .container {
    max-width: 1600px;
  }
}

.fa-1x {
  font-size: 1.5em !important;
}

.fa-2x {
  font-size: 2em !important;
}

.fa-3x {
  font-size: 3em !important;
}

.fa-4x {
  font-size: 4em !important;
}

.fa-5x {
  font-size: 5em !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card {
  width: 100%;
}

.badge, .btn, .card-wrapper .back, .card-wrapper .front, .card.wider .card-body, .card:not([class*=card-outline-]), .chip, .counter, .dropdown-content, .jumbotron, .md-pills .nav-link.active, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .pricing-card .price .version, .social-list, .z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.card.narrower {
  margin-top: 20px;
  height: 90%;
}

.card.narrower .overlay {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
  width: 92%;
  height: 100%;
}

.background-image {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 85%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  text-align: center;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.sk-wave .sk-rect {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

.hidden {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: white;
  border-radius: .25rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  color: #fec909;
  font-size: 10px;
  content: '>';
}

.ty-sidebox-title {
  border-bottom: 1px solid #eaeaea;
}

.ty-sidebox-title-wrapper {
  border-bottom: 2px solid #fec909;
  height: 100%;
  padding-bottom: 7px;
}
